[2013-11-08 14:04] indeyets opened #1 "ambigous name: "addCustomParameter""
name of `addCustomParameter` method suggests that parameter would be added to the list, while [implementation](https://github.com/RDFLib/sparqlwrapper/blob/master/test/SPARQLWrapper/Wrapper.py#L196) actually replaces existing parameter with the same name.

[SPARQL specification allows](http://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-operation) to have multiple parameters with the s

[2013-11-08 17:18] indeyets opened #2 "Connection pooling"
Right now, sparqlwrapper uses urllib2, which doesn't reuse http connections opening/closing them each time. In cases when there is a need to execute several queries in row connection reusage might gain several valuable milliseconds.

Switching to [urlllib3](http://urllib3.readthedocs.org/en/latest/) will give means to solve this

[2013-11-08 18:16] indeyets opened #3 "JSON-LD results support"
SPARQL-endpoints have support for JSON-LD output for `CONSTRUCT` queries these days (list consists at least of Virtuoso and StarDog).

sparqlwrapper [supports](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L317) only N3/Turtle and XML.

[2013-11-11 12:00] indeyets opened #4 ""test" folder in git contains something strange"
It looks like https://github.com/RDFLib/sparqlwrapper/tree/master/test has a copy of files in root (except for `tests.py` and tiny differences).

Looks like an unintended artefact.

[2013-11-11 15:27] #4 closed, assigned to wikier

[2013-11-13 16:42] indeyets opened #11 "[Q] release process/policy?"
@wikier what is your approach to releases?

the changelog is already quite large, but code wasn't seriously tested (I guess I'll switch my efforts to the testing). If tests prove that code works, then this version will be suitable for my use-case.

Did you see the topic in the mailing list? (_by the way: is it better to post questions here or there?_) Do you think that is a good idea? If it is, sh

[2013-11-14 09:33] indeyets opened #12 "setCredentials is detached from endpoints"
`SPARQLWrapper` takes `endpoint` and `updateEndpoint` URLs as [parameters of constructor](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L110)

separately, [it has method](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L248) named `setCredentials` which allows to specify login/password which are used for [Basic Authentication](https://git

[2013-11-14 10:27] #11 closed, assigned to nobody

[2013-11-14 13:00] indeyets opened #14 "Unit Tests"
SPARQLWrapper doesn't have unit-tests. Unit-tests should be added using [Nose framework](https://nose.readthedocs.org/en/latest/) (per instruction given in [RDFLib developers guide](https://rdflib.readthedocs.org/en/latest/developers.html))

[2013-11-15 09:14] wikier opened #15 "Add conversion to RDFLib native objects"
Sometimes it'd be useful to be able to convert SELECT results to native RDFLib objects.

[2013-11-21 13:02] indeyets opened #17 "SPARQL/Update query-types"
Right now, 3 query-types for SPARQL/Update are defined: `INSERT`, `DELETE`, `MODIFY` and query-type is detected via regular expression.

The problem is, that there is no `MODIFY` keyword in [SPARQL/Update grammer](http://www.w3.org/TR/sparql11-query/#rUpdate) as modify query is defined as `( 'WITH' iri )? ( DeleteClause InsertClause? | InsertClause ) UsingClause* 'WHERE' GroupGraphPattern`.

On th

[2013-12-14 10:38] #14 closed, assigned to wikier

[2013-12-15 17:23] indeyets opened #18 "QueryResult.convert() should be able to provide predictable result format"
Currently, result of `QueryResult.convert` depends on the input type:
- SPARQL_XML results in DOM object
- SPARQL_JSON results in associative array (decoded json)
- RDF_N3 results in string
- RDF_XML and RDF_JSONLD result in `rdflib.ConjunctiveGraph`

It is low-level stuff and while it works in a controlled environment (users of library might get a working workflow via trial-and-error), in real-wo

[2014-01-12 11:25] #1 closed, assigned to wikier

[2014-01-12 11:32] wikier opened #19 "Timeout handling"
An user has asked in the mailing list about such detail:

https://groups.google.com/forum/#!topic/rdflib-dev/17lGRznEeMY

Right now we fully deliver such detail in the transport library (urllib2), so we should take a look on it, to both:
- no timeout by default
- add a method to the api to allow custom timeoouts

[2014-03-03 16:47] dbs opened #20 "python3: nosetests fails with inability to import Wrapper"
Trying to package SPARQLWrapper 1.5.2 on Fedora 20; while the Python 2.7 flavour packages just fine, the Python 3 version of nosetests fails with the following error (replicated in a fresh virtualenv using Python 3.3 and running "nosetests-3.3" in the untarred SPARQLWrapper 1.5.2 source directory):

~/rpmbuild/BUILD/python3-python-SPARQLWrapper-1.5.2-1.fc20 ~/rpmbuild/BUILD/SPARQLWrapper-1.5.2

[2014-05-09 11:15] #3 closed, assigned to wikier

[2014-05-09 11:15] #19 closed, assigned to wikier

[2014-05-17 19:44] olberger opened #23 "Tarballs at pypi aren't identical to git snapshot... which is suboptimal"
Trying to update the Debian package I noticed that the tarball isn't identical at PyPI or here on github.

I personally think it would be better if there wasn't 2 distribution archives.

[2014-05-19 15:17] olberger opened #24 "nosetests3 fails with invalid syntax exception"
Hi.

Here's the result of nosetests3 passed during a build script for Debian package of 1.6.0 :

[code]

[2014-05-19 15:32] olberger opened #26 "tag v.1.6.0 should be v1.6.0"
The tag is misnamed IMHO

Hope this helps.

[2014-05-19 15:35] olberger opened #27 "rdflib.RDF and SPARQLWrapper.RDF aren't to be confused"
I wonder whether there could be some way to unify SPARQLWrapper's RDF and rdflib's.

type(rdflib.RDF)
rdflib.namespace._RDFNamespace

type (SPARQLWrapper.RDF)
str

Maybe I'm the only one who would:
from rdflib import *
from SPARQLWrapper import \*

Hope this helps.

Best regards,

[2014-05-24 18:43] uholzer opened #28 "Choose Content-type for Update Requests"
As far as I know, SPARQL update requests are always sent with Content-type `application/x-www-form-urlencoded`. It would be nice if one could choose to send such requests as `application/sparql-update` instead. This is useful if one has a SPARQL endpoint that does not work with one of these content types.

Personally, I would like to have this feature for the following reason: RDFLib's SPARQLStore

[2014-06-15 16:34] #26 closed, assigned to nobody

[2014-07-16 14:18] #24 closed, assigned to nobody

[2014-07-20 17:01] #20 closed, assigned to nobody

[2014-07-21 14:11] #17 closed, assigned to nobody

[2014-07-21 14:52] #28 closed, assigned to nobody

[2014-07-23 07:32] #15 closed, assigned to wikier

[2014-07-23 20:15] mgaldzic opened #32 "query type detection doe not properly ignore comments in sparql"
When a query string starts with a comment where a keyword, such as `CONSTRUCT` is commented out the `query_type` is still set to `CONSTRUCT`.

For example, this query should have  `query_type='SELECT'`, but v1.6.1 detects it as `CONSTRUCT`.

[code]

[2014-07-24 12:22] dayures opened #33 "update doc available on the web"
using epydoc

[2014-07-24 12:26] #33 closed, assigned to nobody

[2014-07-24 15:19] #32 closed, assigned to wikier

[2014-07-24 15:23] wikier opened #34 "Release 1.6.2"

[2014-07-24 15:30] #34 closed, assigned to wikier

[2014-07-26 11:51] uholzer opened #35 "Unicode problems"
There are still some unicode related issues in 1.6.2. I should have spotted them sooner,
sorry for that. The most problematic one is caused by `urllib.urlencode`
handling `unicode` objects the wrong way. I wasn't aware of this issue.

Personally, I would make sure that internally, you only have unicode objects,
i.e. that `SPARQLWrapper.setQuery` and similar methods convert `str` objects to
`unicod

[2014-07-31 10:09] joernhees opened #36 "version style, missing SPARQLWrapper2 class in > 1.6.0"
Running some old code I just realized that between versions 1.6.0 and 1.6.1 SPARQLWrapper2 seems to have disappeared. I assumed all rdflib projects are following http://semver.org conventions.

Would this find consensus for SPARQLWrapper as well?

[2014-07-31 13:14] wikier opened #37 "Design considerations towards 2.x"
It's not the right time, but just because the discussion at issue #36, I'd like to share this idea/methodology I had with the whole community.

The current `SPARQLWrapper` 1.x is pretty old, originally designed in 2007, and maintained since that with important evolution at different levels (SPARQL 1.1 Protocol, RDFLib 4.x, Pythion 3.x. So at some point we should start to think about a major versio

[2014-07-31 13:34] #36 closed, assigned to nobody

[2014-07-31 14:49] joernhees opened #38 "enhance warning for missing rdflib-jsonld"
Currently a default install of SPARQLWrapper issues this warning for every user:

[code]

Several issues with this:
- seems weird to me... if i just installed something, then want to use it and the first thing it tells me is "Warning, i'm not complete" i get a bad feeling...
- if missing jsonld support is worth a warning, why doesn't SPARQLWrapper depend on it so it's auto installed?
- in any case

[2014-07-31 19:50] uholzer opened #39 "Build system broken"
There are two several problems:

[code]

There is a dot missing between `SPARQLWrapper_` and `__authors__`.

Having fixed this, it works for Python 2, but running pip3 for Python 3 exposes another problem:

[code]

It's probably a bad idea to import SPARQLWrapper before it has been tranformed by 2to3, because setup.py is also run by Python 3. (It seems this particular error occurs because relative

[2014-08-04 16:26] #39 closed, assigned to wikier

[2014-08-05 09:04] #38 closed, assigned to wikier

[2014-08-18 19:19] #35 closed, assigned to indeyets

[2014-08-26 06:29] wikier opened #40 "Release 1.6.3"
1.6.3 looks ready: https://github.com/RDFLib/sparqlwrapper/issues?q=milestone%3A1.6.3+is%3Aclosed

and the SPARQLStore needs it: https://github.com/RDFLib/rdflib/pull/397

[2014-08-26 06:55] wikier opened #41 "Fix epydoc warnings"
Running epydoc (`make doc`) reveals some minor mistakes in the documentation that should be fixed.

[2014-08-26 07:06] #40 closed, assigned to wikier

[2014-08-26 08:35] alf opened #42 "SPARQLWrapper 1.6.3 doesn't work in py3"
`SPARQLWrapper/__init__.py` is utf-8 encoded but setup.py tries to read it as ascii thus havoc ensues.

[code]

[2014-08-26 10:01] wikier opened #43 "Use -dev suffix for development versions"
With the discussion around issue #40, in IRC @joernhees suggested that we could adopt the same workflow than rdflib core uses:
-  after a release we up the version but suffix it with `-dev`
- in the release process the last commit removes the "-dev"

That's http://semver.org conform and all the package management tools will see the "-something" as "pre-release".

What do you think?

[2014-08-26 11:51] #42 closed, assigned to wikier

[2014-08-26 12:48] #43 closed, assigned to wikier

[2014-08-26 12:49] wikier opened #44 "Release 1.6.4"

[2014-08-26 12:58] #44 closed, assigned to wikier

[2014-10-24 15:05] ocefpaf opened #46 "Possible circular dependecy"
I am trying to package RDFLib but I am confused with a circular dependency, RDFLib requires sparqlwrapper (https://github.com/RDFLib/rdflib/blob/master/setup.py#L45), but sparqlwrapper requires RDFLib (https://github.com/RDFLib/sparqlwrapper/blob/master/setup.py#L24).  Am I interpreting something wrong here?

[2014-10-27 14:58] #46 closed, assigned to nobody

[2014-11-20 12:28] dev-namespace opened #47 "Unable to get query should be an exception"
When running a query using an invalid enpoint I get this in stderr:

'Unable to get query: x in endpoint y'

The problem is that this isn't an exception so I can't process it in execution time.

If I get an empty result from a query I can't think of a way to know if the empty result was due to an invalid endpoint or because that page didn't exist in a valid endpoint. When trying to get data from m

[2014-11-21 11:21] #47 closed, assigned to nobody

[2015-01-12 10:25] mfarre opened #48 "manage long results"
Hello,

Every query I do is trunkated to 100 results (currently using sparqlwrapper to query an openrdf database).
Would be great to overcome this, happy to help.

Thanks,
Miquel

[2015-01-12 13:00] joernhees commented on #48
this is weird as i'm using it on a daily basis for result sets up to 1M rows...

can you provide some simplistic example showing the bug?

[2015-01-12 13:28] mfarre commented on #48
Hello Jörn,

I think the problem is related with the parsing of the results from Sesame/openrdf: by default is truncating the results to 100.

I tried to make this query in the Sesame/openRDF query console:
SELECT ?a
WHERE {
?a ?b ?c
}

It generates the following URL: http://localhost:8080/openrdf-workbench/repositories/12345/query?action=exec&queryLn=SPARQL&query=SELECT%20%3Fa%20%0AWHERE%20{%20%0

[2015-01-12 14:14] joernhees commented on #48
uhm, there probably is a way to change the default limit / disable it in your openrdf workbench, but that doesn't seem to be an issue with SPARQLWrapper...

another option could maybe be to explicitly set a limit in the SPARQL Query you're doing?
[code]

[2015-01-12 14:22] mfarre commented on #48
Hey Jörn,
I also thought in trying this before posting here and it doesn't work: is limiting the number of results to 100000000 but still truncating the number of results to 100 per page. Then (I guess) when the scrapping is done, the sparqlwrapper only have 100 results there.

I have solved the problem adding the limit=0 in the request URL, to do this I use the addParameter(key,value) function:

[2015-01-12 14:22] #48 closed

[2015-01-12 14:23] joernhees commented on #48
:+1:

[2015-01-13 17:50] wikier commented on #48
:+1:

I was not aware either of such default limit from workbench's endpoint. Try to ask at [sesame-users](https://groups.google.com/d/forum/sesame-users) if such configuration can be changed or disabled.

[2015-02-18 00:33] keturn opened #49 "SmartWrapper.Value should have __repr__"
When using the SmartWrapper, I found it discouraging to get output that looked like this:

    [{u'o': <SPARQLWrapper.SmartWrapper.Value at 0x106b6f610>,
      u'p': <SPARQLWrapper.SmartWrapper.Value at 0x106b6f5d0>,
      u's': <SPARQLWrapper.SmartWrapper.Value at 0x106b6f550>},
     {u'o': <SPARQLWrapper.SmartWrapper.Value at 0x106b6f6d0>,
      u'p': <SPARQLWrapper.SmartWrapper.Value at 0x106b6

[2015-02-18 11:26] joernhees commented on #49
:+1: if you make a PR i guess it will be accepted.

[2015-04-03 17:52] joernhees opened #50 "POSTDIRECTLY and unicode endpoint / unicode_literals cause UnicodeDecodeError in urllib2"
this caught me a bit off-guard using `from __future__ import unicode_literals`, which causes all strings to by default be unicode strings, which usually is a good idea...

however, without much thinking this let me specify the endpoint as `u'http://localhost:3030/db/sparql'`.

try running this against a local fuseki server started with `fuseki-server --mem /db`:

[code]
returns:
[code]

just chang

[2015-04-05 08:23] indeyets commented on #50
I am a fan of [Postel's law](https://en.wikipedia.org/wiki/Robustness_principle), so my take on this is: let's just make sure, that we always give utf-8 to urllib2. The conversion should happen on the border between our code and urllib2.

At the same time, for code uniformity, we should use unicode as internal representation in our variables.

This will give us the following valid data-flows:

* `

[2015-04-05 15:48] joernhees commented on #50
for the content i agree (and we already handle it correctly).

for the HTTP headers and the endpoint URI i think it's not correct to finally try encoding them as UTF-8 as URIs are meant to be plain ASCII after % encoding and headers should be ASCII (http://stackoverflow.com/questions/4400678/http-header-should-use-what-character-encoding ). `urllib2` in Python 2 won't do any conversion, but it jus

[2015-04-16 12:31] wikier opened #51 "Find a long-term solution for keepalive"
As [reported in the mailing list](https://groups.google.com/forum/#!topic/rdflib-dev/mlwV3wIhxlM), looks like the `keepalive` module has been removed in version 3.9.1 of `urlgrabber`.

I found some discussions about the issue:

* http://stackoverflow.com/questions/1037406/python-urllib2-with-keep-alive

But I need to read more to find a long-term solution for such feature...

[2015-04-16 12:42] wikier commented on #50
This is always a mess... I open to listen to proposals on how to solve it, always based on the common ground well described by @indeyets.

[2015-04-16 12:50] wikier commented on #49
thanks for the patch, @keturn!

[2015-04-16 12:50] #49 closed

[2015-04-18 12:32] indeyets commented on #51
Long term solution is [Requests](http://docs.python-requests.org/en/latest/)

[2015-04-20 11:49] wikier commented on #51
@indeyets sure, `requests` is for sure in the pipeline for 2.x (issue #37). So the question is to refactor 1.x to use it, a push the development of 2.x. What do you think?

[2015-04-20 15:10] indeyets commented on #51
Requests is compatible with 2.6+. So, it means that refactoring 1.x will lead to the loss of compatibility with 2.5 (I don't remember is 2.4 is supported)

[2015-04-22 08:00] indeyets commented on #51
oh… I just noticed, that you only use 2.7+ in Continuous Integration since 6 days ago. If that's the plan, then we can definitely use Requests for emulating current network interface

[2015-05-18 14:40] joernhees opened #52 "allow for manual setting of Accept header or headers in general"
as can be seen in http://stackoverflow.com/a/30306013/1423333 there are endpoints out there which don't understand the `",".join(_SPARQL_JSON)` https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L451 Accept header, but only want "one" mime-type :(

in https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L506 we unconditionally add the Accept header

[2015-06-24 10:08] wikier commented on #51
@indeyets honestly I'd prefer to switch to `requests` in 2.x...

[2015-06-24 10:13] wikier commented on #52
Well, I understand the feature request.

But... the issue is clearly server-side. The idea is to stay bound to the [protocol](http://www.w3.org/TR/sparql11-protocol/). Small changes for a broader support are fine. But we should put a line where we do not support such wrong behaviors.

What do others (@iherman, @indeyets, @dayures, etc) think?

[2015-06-24 13:16] joernhees commented on #52
i didn't want to suggest to encourage bad behavior, but i'm suggesting to allow for easier customization so that developers can use the lib in the real world even if things go slightly wrong.

If you read the thread on stackoverflow, you saw that the endpoint actually follows protocol, but that it doesn't seem to understand the longer than necessary Accept header we send for compatibility reasons:

[2015-09-09 10:50] cryptid11 opened #56 "I got an error when using setCredentials"
ValueError: Invalid header value 'Basic pokwepdokwo\n'

pokwepdokwo is the actual encoding of user:password that I see also in the Authorization field in the Request header for example in Chrome, so there is a wrongfully added \n at the end, is this an error or it's me do something wrong?

[2015-09-09 11:08] joernhees commented on #56
seems related to #55

[2015-09-09 11:16] joernhees opened #57 "travis tests fail for py3"
tests for python 3 seem to fail somewhere around the urlgrabber module:

https://travis-ci.org/RDFLib/sparqlwrapper/jobs/77481345

[2015-09-09 14:25] cryptid11 commented on #56
I don't see how base64.encodestring is related to this, the process of encoding have to happen inside sparqlwrapper not outside, right?

[2015-09-09 14:32] joernhees commented on #56
as described in #55 base64.encodestring seems to add a trailing `\n`... maybe you could try if the fix in #55 works and report back?

[2015-09-09 14:37] cryptid11 commented on #56
Perfect, it's exactly what I suspect, I change and now it works perfectly.

[2015-09-09 14:56] #56 closed

[2015-09-09 14:58] cryptid11 commented on #56
But I have another problem you can add to resolve in a row,

     urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)>

I solve this adding this here https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L537:

            import ssl
            ctx = ssl.create_default_context()
            ctx.check_hostname = False

[2015-09-09 15:00] joernhees commented on #56
hmm, might be an ad-hoc fix for you, but i'm against adding this by default as it disables SSL certificate verification

[2015-09-09 15:02] cryptid11 commented on #56
I think adding an option will be very useful, an option that is visible only if people need it. Obviously the standard setting will be to check SSL cert.

[2015-09-23 13:48] plasmid87 opened #58 "setCredentials "Invalid header value" / "QueryBadFormed""
Using SPARQLWrapper 1.6.4 (pip).

When `setCredentials()` is used the resulting query request `Authorization` header seems to contain an erroneous trailing newline.

This results in an "Invalid header value" ValueError with Python 2.7, or a "QueryBadFormed" exception with Python 2.6.

The following fix to `Wrapper.py` seems to correct this behaviour:
[code]

[2015-09-23 13:49] plasmid87 commented on #58
Just seen pull request https://github.com/RDFLib/sparqlwrapper/pull/55 for this bug

[2015-09-23 14:04] #58 closed

[2015-10-05 09:49] AlexanderWillner commented on #56
Definitely need an option to specify some SSL related parameters. Either a ```verify='/path/to/public_key.pem'``` or a ```verify = False```

[2015-10-09 14:05] joernhees commented on #56
first, let me point you to https://www.python.org/dev/peps/pep-0476/

python by default uses and verifies the system provided ssl certs, which is a good thing.

if you want to ignore ssl verification for whatever reason you can already achieve this right now (but you should not) by using the 2nd attempt mentioned in https://www.python.org/dev/peps/pep-0476/#opting-out .

Another (IMO) much better

[2015-10-23 02:51] alberto-ieru opened #61 "New error in existing notebook"
Hello,
I developed a notebook six months ago and it was working perfectly. Yesterday I have to run it again, getting this error.

QueryBadFormed: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.

Response:
Could not properly handle &quot;PREFIX rdf%3A %3Chttp%3A//www.&quot; in ARC2_SPARQLPlusParser

Heres is the code:

[code]

Thanks a lot

[2015-10-23 15:16] joernhees commented on #61
i assume you're talking about an ipython notebook...

the error-message you get is originating from the server, so i'd recommend checking if it was updated in between, it's still responding, etc...

i'll close this for now, feel free to reopen if you find this is an actual problem in SPARQLWrapper

[2015-10-23 15:16] #61 closed

[2015-10-29 17:13] dwvisser opened #62 "release notes?"
Is there anywhere I can find a concise set of release notes for v1.7.0?

[2015-10-30 07:52] wikier commented on #62
we used to keep it at https://github.com/RDFLib/sparqlwrapper/blob/master/ChangeLog.txt
but we're not being very disciplined in the last releases... I'll try to catch up there.

[2015-10-30 07:55] wikier commented on #57
fixed!

see https://travis-ci.org/RDFLib/sparqlwrapper/builds/88288324 for instance

[2015-10-30 07:58] wikier commented on #62
updated

[2015-10-30 07:58] #62 closed

[2015-10-30 12:24] mwjackson opened #63 "Error install pycurl dependency"
We are seeing this error in our deployments as of a few hours ago (~ 1.7.1 release). Pinning SPARQLWrapper==1.6.4 resolves the problem. We are running python 2.7 and latest rdflib.

Collecting pycurl>=7.19.5.1 (from SPARQLWrapper->rdflib->-r requirements.txt (line 1))
  Using cached pycurl-7.19.5.1.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call la

[2015-10-30 12:46] joernhees commented on #57
thanks for fixing this, but can you elaborate on where it is needed anyhow?

seems to me that urlgrabber was only used for keepalive:
https://github.com/RDFLib/sparqlwrapper/blob/e9216658f47d48ec983b2f8153e9d73e3d4f5a87/SPARQLWrapper/Wrapper.py#L403

maybe it would be better not to depend on anything here at all?

[2015-10-30 12:50] joernhees commented on #63
hmm, seems to me that pycurl (which was introduced in https://github.com/RDFLib/sparqlwrapper/commit/5d691cc78f07ef9b9b80fd4b3f087a7273d446e5 as replacement for urlgrabber ) is never used in the SPARQLWrapper code...

as mentioned in #57 it's maybe best if we just remove urlgrabber and don't add a new dependency?

[2015-10-30 12:50] joernhees commented on #57
closing in favor of #63

[2015-10-30 12:50] #57 closed

[2015-10-30 15:44] mbarrien commented on #63
Note that http://stackoverflow.com/questions/23937933/could-not-run-curl-config-errno-2-no-such-file-or-directory-when-installing suggests a system library may need to be installed to resolve this issue.

That said, if it's not used, dropping the requirement sounds good.

[2015-11-01 18:33] wikier commented on #57
well, I realized `pycurl` was a high-level dependency to `urlgrabber`, better managed in python 3.x

so I though was the best solution, but let's discuss it in issue #63

[2015-11-01 18:39] wikier commented on #63
I introduced the dependency to `pycurl` to solve the issue we had with `urlgrabber` in Python 3.x.

Said that, we're discussion here two things:

1. Why @mwjackson can fetch [pycurl 7.19.5.1](https://pypi.python.org/pypi/pycurl/7.19.5.1) from pypy? Could be a temporal issue? For me worked fine, also for our [CI builds](https://travis-ci.org/RDFLib/sparqlwrapper/builds)...
2. The question @joernhee

[2015-11-02 19:18] cwacekINV commented on #63
FWIW adding the pycurl dependency breaks pip installs on Windows, because pycurl doesn't have built in support for Windows (pycurl/pycurl#297). This is more problematic than for linux because there's no easy way to get libcurl installed.

Since SPARQLWrapper is a dependency of rdflib, this breaks rdflib installs on Windows.

[2015-11-03 07:08] wikier commented on #63
Ummm... then we have a problem. Sorry for that, but non of our developers or our continuous integration works under Windows.

Then I'll take a look to issue #51 to see how I can sort this out.

[2015-11-03 07:14] wikier commented on #51
According to henrysher/urlgrabber#2 does not look that  `urlgrabber` is going to work under Python 3.x...

[2015-11-03 07:29] wikier commented on #51
Using this port http://pastie.org/2388246 could be an option, but I think the author (@bgw) has not published any package with it, or at least I can't find it.

[2015-11-03 10:36] gromgull commented on #51
it's only ~300 lines of code - just add it to SPARQLWrapper directly ?

On 3 November 2015 at 08:29, Sergio Fernández <notifications@github.com>
wrote:

--
http://gromgull.net

[2015-11-03 11:34] wikier commented on #51
@gromgull LGPL license

[2015-11-03 11:50] wikier commented on #51
I'd personally remove the keep alive support until we do the major refactoring for 2.x; opinions on that?

[2015-11-03 12:43] trishnaguha opened #64 "Link for rdflib raises Error"
The link for rdflib "http://www.rdflib.net/" in http://rdflib.github.io/sparqlwrapper gives "Error:not found" . It should be changed to https://pypi.python.org/pypi/rdflib

[2015-11-03 13:10] dayures commented on #64
Maybe the links could be:
- https://pypi.python.org/pypi/simplejson
- https://pypi.python.org/pypi/rdflib

[2015-11-03 13:11] wikier commented on #51
Solved by using a new [keepalive](https://pypi.python.org/pypi/keepalive) package (required by license terms).

[2015-11-03 13:11] #51 closed

[2015-11-03 13:19] wikier commented on #63
@mwjackson 1.7.2 is now available with a hotfix for this issue https://pypi.python.org/pypi/SPARQLWrapper/1.7.2 please check it

[2015-11-03 13:19] #63 closed

[2015-11-03 13:25] niklasl commented on #51
I don't have deep insight into how SparqlWrapper is being used in applications, but I wonder if mechanisms like these should be pluggable and interchangeable? By which I mean that SparqlWrapper (and thus RDFLib) shouldn't bundle a lot of choices by default, but support opt-ins by using a pluggable API.

It could even provide sensible defaults for "advanced" behaviour by doing try-imports and decla

[2015-11-03 13:29] #64 closed

[2015-11-03 13:30] trishnaguha commented on #64
Thanks! :)

[2015-11-03 13:43] wikier commented on #51
A completely valid point @niklasl; please add it to issue #37.

[2015-11-03 14:10] mwjackson commented on #63
thanks guys, works... appreciated

[2015-11-03 15:04] joernhees commented on #63
@wikier thanks for fighting through this ;)

[2015-11-03 15:07] niklasl commented on #37
(Just wrote this comment for #51 but @wikier noted it's more appropriate here.)

I don't have deep insight into how SparqlWrapper is being used in applications, but I wonder if mechanisms like these should be pluggable and interchangeable? By which I mean that SparqlWrapper (and thus RDFLib) shouldn't bundle a lot of choices by default, but support opt-ins by using a pluggable API.

It could even

[2015-11-03 15:09] joernhees commented on #37
as brought up in other issues:
- base on requests lib (#51, #52)
- introduce optional dependencies for things like keepalive (#51, #63)

[2015-11-04 07:59] wikier opened #65 "Keepalive support now does not properly work on Python 2.x"
@xflr6 has reported on wikier/keepalive#1 that now the import fails on Python 2.x :-/

[2015-11-04 09:36] wikier commented on #65
OK, now build looks fine: https://travis-ci.org/RDFLib/sparqlwrapper/builds/89181455

Can you please @xflr6 if it works for you before we roll-out a release with this hot-fix?

[2015-11-04 12:04] xflr6 commented on #65
[code]

Note that `3.1.0` and `3.9.1` seem to be the only versions of `urlgrabber` [on PyPI](https://pypi.python.org/pypi/urlgrabber/).

What is the rationale behind requiring `simplejson` on PY2?
Why pin it to such an outdated version (might give conflicts with other packages)?

[code]

Works (but see below).

Wouldn't it be much easier/cleaner to adapt `keepalive` to support **both Python 2 and

[2015-11-04 16:10] wikier commented on #65
The reason why we can keep using [keepalive](https://pypi.python.org/pypi/keepalive) as library is because its license (LGPL). I did not touch the code, since for Python 2.x ` urlgrabber` should work. But if you feel you can provide a version that support both versions of the language, provide a PR to [the project](https://github.com/wikier/keepalive).

[2015-11-04 18:33] xflr6 commented on #65
[This](https://gist.github.com/anonymous/3908724a728c649c7556) would be a quick & dirty proof-of-concept.

The [2to3 ported code](https://github.com/wikier/keepalive/blob/4508595a313295da96b50adfd91c7628ab8852b9/keepalive/keepalive.py) in your `keepalive` package seems to be based on a [pretty old version](http://yum.baseurl.org/gitweb?p=urlgrabber.git;a=blob;f=urlgrabber/keepalive.py;h=d5d7cbeee2

[2015-11-05 08:38] wikier commented on #65
OK, I see, the `SPARQLStore` enables `keepalive` by default: https://github.com/RDFLib/rdflib/blob/master/rdflib/plugins/stores/sparqlstore.py#L246

[2015-11-05 08:56] wikier commented on #65
I've been working on the [keepalive](https://github.com/wikier/keepalive) side to get a more compact code base that can be automatically ported to Python 3.x with `2to3`, and the results in the [0.3 release](https://pypi.python.org/pypi/keepalive/0.3).

The current `HEAD` now uses that version for both languages, so my test work:

Python 2.7:
[code]

Python 3.4:
[code]

(Notice that the integratio

[2015-11-05 09:25] xflr6 commented on #65
Of course:
[code]

[code]

[2015-11-05 09:56] wikier commented on #65
ummm... that error comes from [this patch](https://github.com/wikier/keepalive/commit/018f1180845160ef72b5fe50c9efbf4fed7da53e) I introduced to avoid the getters deprecation/removal. @xflr6, does it even have `get_selector()`?

[2015-11-05 10:09] xflr6 commented on #65
Yes:
[code]

[2015-11-05 10:17] wikier commented on #65
OK, I've just [patched](https://github.com/wikier/keepalive/commit/50073990e162cacc5afac222b229c48e15313628); so @xflr6 to repeat again the test manually installing `keepalive` version `0.4.dev0` from the source code? For me the same test locally works in both Python 2.7 and 3.4.

[2015-11-05 10:27] xflr6 commented on #65
[code]

Works:

[code]

Maybe add a `__version__` to `keepalive/__init__.py` to facilitate debugging in the future.

[2015-11-05 10:28] wikier commented on #65
Cool!

Yes, I'll add some metadata to the package in the upcoming release.

[2015-11-05 10:39] #65 closed

[2015-11-05 11:58] mwjackson opened #66 "packaging broken"
Hi guys, seeing another pip install failure on our build server as of release 1.7.3

Mixlib::ShellOut::ShellCommandFailed
------------------------------------
Expected process to exit with [0], but received '1'
---- Begin output of "bash"  "/tmp/chef-script20151105-4556-o9zodr" ----
STDOUT: Collecting rdflib (from -r requirements.txt (line 1))
Downloading rdflib-4.2.1.tar.gz (889kB)
Collecting sta

[2015-11-05 13:07] davidread commented on #66
requirements.txt is a new file and it looks like it needs adding to the MANIFEST.in

[2015-11-05 13:43] #66 closed

[2015-11-22 01:41] joernhees opened #70 "SPARQLWrapper > 1.7.1 seems to break upstream rdflib test"
i noticed that some PRs on upstream rdflib broke in seemingly unrelated code... (see RDFLib/rdflib#550 )

the error reported is this:

[code]

as the PRs locally passed all tests and i still had SPARQLWrapper 1.6.4, i started bisecting... it seems that when depending on SPARQLWrapper > 1.7.1 that one test suddenly breaks.

Any ideas which of the changes in https://github.com/RDFLib/sparqlwrapper/c

[2015-11-22 01:48] joernhees commented on #70
notice that i don't have any intention to merge RDFLib/rdflib#550 as that would cut SPARQLWrapper to 1.7.1 instead of current 1.7.5, RDFLib/rdflib#550 and this issue is just to figure out where to fix this best (and quick)

[2015-11-22 15:02] uholzer commented on #70
I think I found the problem.

Let's look at `rdflib/plugins/stores/sparqlstore.py` from rdflib, line 414:

[code]

This line exptects `SPARQLWrapper.query(self).response` to be a file-like object in binary mode, i.e. yielding str, not unicode when calling `read()` on it in Python 2. (As it is the body of an HTTP response, this is what I would expect too.) Adding the line

[code]

right in front of

[2015-11-22 15:15] uholzer commented on #70
It turns out it is. `keepalive.py` provides a `HTTPResponse` which derives from `httplib.HTTPResponse`. It overrides the read function like this:
[code]

[2015-11-22 15:24] uholzer commented on #70
Reported this as an Issue against keepalive: wikier/keepalive#2

[2015-11-22 16:00] joernhees commented on #70
@uholzer thanks for looking into this... can we just remove the `.decode(...)` stuff? @wikier ?

[2015-11-23 12:04] wikier commented on #70
@joernhees I think what's causing troubles to @uholzer.... we'll discuss it in wikier/keepalive#2 and try to get a fix out asap. I'll keep you posted, guys.

[2015-11-24 08:10] wikier commented on #70
@joernhees wikier/keepalive#2 provides a candidate patch. Besides manual testing, I'd welcome a unit test on our side testing the reported issue; is that possible?

[2015-11-24 13:22] joernhees commented on #70
see https://travis-ci.org/RDFLib/rdflib/builds/92929930 (was fixed on py2 but some stuff still fails on py3)

[2015-11-24 13:40] joernhees commented on #70
a unit test inside SPARQLWrapper for queries/data with unicode chars would propbably be a good idea...

[2015-11-25 12:02] wikier commented on #70
@joernhees see wikier/keepalive#2, fixed in https://github.com/wikier/keepalive/commit/b1d2c32258ebc77f25cbab6f90afa3fc891d9e87.

Definitely a unit test it's necessary. If no one contributed it, by the end of the week I'll to find time to take care of it before pushing out a new `1.7.6` release depending on `keepalive>=0.5`.

[2015-12-11 02:03] trevorandersen opened #71 "Authorization header bug when using python 3"
When using setCredentials('admin', 'admin') with python 3, the authorization header subsequently sent is invalid. It is

rather than

The issue occurs because b64encode returns bytes in python 3. A simple fix is to modify line 510 to add a call to **decode**
[code]

[2015-12-11 02:06] trevorandersen commented on #71
Pull request #72

[2015-12-17 08:27] wikier commented on #71
I merged the patch from #72. For closing this issue @trevorandersen it'd be cool to have a test over the feature; do you think you cloud provide it?

[2015-12-17 08:33] wikier commented on #70
any idea how this could be tested?

[2015-12-18 00:36] trevorandersen commented on #71
Done. It was a matter of deleting the old test code which explicitly checked for the b' characters which broke authorization, and restoring the simple test which had been commented out. #73

[2015-12-18 08:07] wikier commented on #71
True. So I merged pr #73 and ci looks happy https://travis-ci.org/RDFLib/sparqlwrapper/builds/97619101 :smile:

[2015-12-18 08:07] #71 closed

[2015-12-18 09:18] wikier commented on #70
OK, let's push this out for now.

[2015-12-18 09:18] #70 closed

[2016-01-11 18:06] vtermanis opened #74 "query type detection does not work with non-newline queries"
Unfortunately the pattern to remove single-line comments (introduced in issue #32) causes single-line queries' type to not be recognised. E.g. if one has the query

[code]

.. then the `"#.*?\n"` pattern used (to remove comments in `_parseQueryType`) prunes the query to:

[code]

(Off topic: We strip newlines & indentation whitespace before passing to sparqlwrapper so that Fuseki server query log

[2016-01-11 18:39] vtermanis commented on #74
This might do the trick (to remove single line comments):
[code]
(It might not be necessary to check whether the whole match starts & ends with newline - I'm not sure.)

[2016-01-20 12:30] joernhees commented on #74
hmm, while this seems to solve the comment problem, in #32 @gromgull already mentioned that it could be beneficial to use the rdflib sparql parser to do this properly... i'd actually vote for that as it reduces code-duplication for partial parsing with weird side effects like this...

[2016-01-20 13:25] vtermanis commented on #74
The only downside might be (although maybe I'm wrong?) that it's considerably less efficient to ask rdflib to parse it first (assuming regex uses C extension). Wouldn't it be better to rely on the user to indicate whether they're trying to perform a query or update request? After all, they must know what they're doing in order to do something with (or the lack of) response data from the request an

[2016-01-20 15:13] vtermanis commented on #74
One last thought: How about if query() allows one to specify whether it's a _query_ or an _update_ request but make the parameter optional (and, if not specified, check query for type as before).

[2016-02-14 12:09] dayures commented on #41
It looks like only affects methods tagged as deprecated. Maybe it is an epydoc issue.

[2016-11-12 10:22] gooofy opened #77 "Query type detection breaks on prefixes that contain '#' character"
tried to run this query:

[code]
unfortunately the fix for bug #32

`query = re.sub(re.compile("#.*?\n" ), "" , query) # remove all occurance singleline comments (issue #32)`

will break prefixes and turn my query into this:

[code]
which is not only broken in itself but will actually send

`self.pattern.search(query)`

into what appears to be an endless loop

[2016-12-05 18:49] chrysn opened #78 "setup.py: add shebang or make non-executable"
setup.py, when executed, is interpreted on linux with /bin/sh. Please either make it non-executable, or set a shebang line.

[2016-12-06 08:40] #78 closed

[2016-12-06 12:16] wikier commented on #77
@gooofy I've just added couple of tests, I can't locally reproduce the issue ([ci also looks happy](https://travis-ci.org/RDFLib/sparqlwrapper/builds/181636012)).

BTW, the parsed query is only use for query type detection. The wrapper will always submit the original string set as query.

[2016-12-06 12:29] gooofy commented on #77
I guess

https://github.com/RDFLib/sparqlwrapper/commit/579ce39eb621956efbdf37fd407e187c13436262

has fixed the issue :)

[2016-12-06 14:01] wikier opened #80 "Support comments at the end of a line with statements"
As discussed at , [SPARQL 1.1 Comments Grammar](https://www.w3.org/TR/sparql11-query/#grammarComments) is very vague... Currently we don't support comments at the end of a line with statements before.

Supersedes #77.

[2016-12-06 14:03] wikier commented on #77
I've just added some improvements, and extend our test case.

A missing coverage case will be handle in issue #80.

[2016-12-06 14:03] #77 closed

[2016-12-07 09:08] #41 closed

[2016-12-13 17:57] #74 closed

[2017-01-03 12:04] ignatenkobrain opened #81 "test fails under py3 due to urllib"
basically `urllib._opener` doesn't exist on py3.

[2017-01-03 12:07] ignatenkobrain commented on #81
`find -type f -name '*.py' -exec sed -i -e 's/urllib2._opener/urllib.request._opener/g' {} ';'` fixes.

[2017-01-26 00:34] joernhees commented on #81
how did you install this? isn't this caught by 2to3?

[2017-01-26 09:05] ignatenkobrain commented on #81
looks like private methods are not covered by 2to3

[2017-01-28 15:52] joernhees commented on #81
seems tests should be run with https://github.com/RDFLib/sparqlwrapper/blob/master/tests.sh which does exactly what you suggest to the test that fails. This will probably get an overhaul after rdflib 5.0.0 anyhow and be converted to six as well (so it doesn't need 2to3 anymore at all).

I'll close this for now, reopen if you can think of an easy better solution.

[2017-01-28 15:52] #81 closed

[2017-02-13 20:14] zednis opened #82 "return format setting does not work with MarkLogic SPARQL endpoint"
The Marklogic REST API SPARQL Endpoint implementation (https://docs.marklogic.com/REST/GET/v1/graphs/sparql) returns an error if passed query parameters it does not recognize:

GET request URL:
```http://localhost:8060/v1/graphs/sparql?query=SELECT+%2A+WHERE+%7B+%3Fs+%3Fp+%3Fo+%7D&results=json&format=json&output=json'```

response:
[code]
Looking into Wrapper.py it seems that all plausible output

[2017-02-14 16:19] joernhees commented on #82
related: #37, #52

i fully agree that this is ugly :-/

for now a quick fix would be to monkey-patch the `_returnFormatSetting` var from your code:
[code]

[2017-02-15 16:55] zednis commented on #82
That works!  Thanks.

[2017-03-28 01:51] mit2nil opened #83 "urllib2.HTTPError: HTTP Error 414: Request-URI Too Large"
Hi Dev,

Is there a way to support large SPARQL queries?

I am getting HTTP error 414 when using long query through SPARQLWrapper

Nilay

[2017-03-28 02:16] mit2nil commented on #83
Using sparqlwrapper version 1.8.0 on python 2.7.X on Windows 10 machine. Below is the error stack

[code]

[2017-03-29 21:30] joernhees commented on #83
you could try setting the request method to POST...
`sparql.setRequestMethod('POST')` before query

[2017-03-29 22:28] mit2nil commented on #83
@joernhees I tried adding that but still getting the same error.
Also based on the documentation here https://rdflib.github.io/sparqlwrapper/doc/latest/, I thought by default POST is used. Either way, I tried adding the line you suggested but I am getting below warning.
`C:\stuff\Git\linking\pyenv\lib\site-packages\SPARQLWrapper\Wrapper.py:261: RuntimeWarning: invalid update method 'post'
  warnin

[2017-06-16 13:16] funkyfuture commented on #37
though I haven't yet used the lib so far, I'd say that Python 2 support should be dropped. Also the stdlib's json module is fine today, no need to rely on simplejson.

maybe an optional local cache would be of benefit for some applications. Myself finds magic Python representations of triples an interesting thing to use and to implement, like surfrdf.

[2017-09-01 12:58] psychemedia commented on #52
I need to access an endpoint that requires a custom header attribute to pass an API token.

Am I correct in thinking that I *can't* do this with SPARQLwrapper as it currently stands?

[2017-09-01 16:04] wikier commented on #52
@psychemedia, do you need header or parameter?

Because for parameter `SPARQLWrapper` provides something https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L318

But headers we're not yet there.

[2017-09-01 16:38] psychemedia commented on #52
Header....

I wondered about something hacky like adding a parameter into class initialiser:

[code]

and then fudging the request code:

[code]

[2017-09-03 04:10] thautwarm opened #87 "Wrong results when selecting all classes."
When I input ` SELECT * { ?x a owl:Class }` at  [Virtuoso SPARQL Query Editor](https://dbpedia.org/sparql) with Results Format `JSON`, it would return the results like
[code]

However, while I'm using the following codes with sparqlwrapper.
[code]
The results are from `'http://www.wikidata.org/entity/` except the fist 2 items, and none of them are from `http://dbpedia.org/ontology/`.
[code]
So wha

[2017-09-03 10:50] joernhees commented on #87
i doubt that this is a bug in SPARQLWrapper, but i've been puzzled by this before as well. My bet is that you're not clearing the "Default Graph" field on the http://dbpedia.org/sparql website. By default they set it to http://dbpedia.org. If you extend your body in python to the following, you should get the same results:
[code]

(you can also set it via the `default-graph-uri` arg as virtuoso do

[2017-09-03 10:50] #87 closed

[2017-09-03 10:59] thautwarm commented on #87
It does work, thank you a lot.
However it seems to be a little funny that
 `sparql = SPARQLWrapper("http://dbpedia.org")`
doesn't work...

[2017-09-09 16:19] Nebbir opened #88 "XML unknown response content type"
I tried the following script:
[code]

But I get warning :
RuntimeWarning: unknown response content type, returning raw response...

I went to Wrapper.py and added the following lines after line 789
[code]

It is durty solution, but it looks to work. Maybe can you improve the issue ?

[2017-09-22 16:48] babsdalley opened #89 "Query Response Very Slow When Used With Class or Funnnction Constructs"
Hello,
The response time seems to be much slower when a query is made inside of a class or function construct.
Please help rectify.

[2017-09-22 22:02] joernhees commented on #89
reopen with sample code please

[2017-09-22 22:02] #89 closed

[2017-09-25 10:55] babsdalley opened #90 "Query Response Very Slow When Used With Class or Function Constructs"
I tried the following script:

[code]

This query gave me correct results in less than 2 minutes.

However, when I put the same query into a class in a function like this, the response time was about 15 to 20 minutes:

[code]

Please help review

[2017-09-25 16:16] joernhees commented on #90
You don't need to init lists in python or iterate over them with indices.

I doubt that this has anything to do with methods vs functions (i've used both quite extensively)... it's more likely that this is due to your 2nd query including a union which the 1st doesn't. Or the `tenWordList[0]` (and `1`) being different and leading to very different amounts of results.

[2017-09-25 16:25] babsdalley commented on #90
Hey joernhees, it was a mistake, the second query is exactly the same as the first with both containing the same data. The query response time is still much slower.

[2017-09-25 16:41] joernhees commented on #90
k, maybe `print 'foo' + tenWordList[0]` in the `query` method?

i currently can't reproduce the 2nd code snippet (and it currently doesn't do anything as the class is never instantiated) as i don't have `PullDocs, GibbsSampler, Preprocess`... https://stackoverflow.com/help/mcve

[2017-09-25 16:47] babsdalley commented on #90
Hey, thanks for the support, I already used the sparql-client service in Python and it works fin. Thank you very much for the support.

[2017-09-25 16:47] #90 closed

[2017-10-10 12:35] Gautamshahi opened #91 "Unable to send a triples in Blazegraph"
I am using the below mentioned code to send the triples in the blazegraph

from SPARQLWrapper import SPARQLWrapper, JSON
from rdflib import Graph, URIRef, Literal
sparql = SPARQLWrapper("http://141.26.67.20:9999/blazegraph/sparql")
uri = 'http://www.eluniverso.com/tema/copa-libertadores-1'
g = Graph()
result = g.parse(uri, format='rdfa')
s = g.serialize(format='nt')
triples = (s)
#triples = ''
que

[2017-10-10 13:35] dayures commented on #91
Maybe the issue is that the GRAPH URI is not between "<>"

So, instead of `GRAPH http://www.eluniverso.com/tema/copa-libertadores-1` should be `GRAPH <http://www.eluniverso.com/tema/copa-libertadores-1>`

[2017-10-10 13:39] Gautamshahi commented on #91
Thank you for the suggestion, yes I found it.

On Tue, Oct 10, 2017 at 7:05 PM, dayures <notifications@github.com> wrote:

--
Gautam Kishore Shahi,
Master Student,
DISI- University of Trento,
Italy

[2017-10-10 13:54] #91 closed

[2017-10-10 15:43] CameronJRAllan commented on #83
I am experiencing the same issue with large queries, using either URLENCODED or POSTDIRECTLY.

"urllib.error.HTTPError: HTTP Error 414: Request-URI Too Large"

[2017-10-10 15:50] CameronJRAllan commented on #83
Upon further inspection, the condition "if self.method == POST:" is never found to be true, which is causing the issue.

Reference:
Line 527, Wrapper.py

Could this be due to self.method not being set correctly and hence defaulting to GET?

[2017-10-10 15:55] CameronJRAllan commented on #83
To fix this issue, ensure that your method is set correctly, e.g:
    _self.sparql.setRequestMethod(POSTDIRECTLY)
    self.sparql.setMethod("POST")__

[2017-11-03 20:12] RawStewage opened #94 "Issue with coma in relation"
Hi so I've been trying to run the following query

[code]

Which results in the following error
[code]

I'm not sure how to proced as just leaving the coma unquoted also results in an error of.
[code]

Any advice would be very much appreciated

[2017-11-04 11:25] dayures commented on #94
Some details:
- dbc:Victoria,_British_Columbia is a CURIE, but it is not a safeCURIE
- SPARQL local names also allow the non-alphanumeric characters allowed in IRIs via backslash character escapes (e.g. ns:id\=123). SPARQL local names have more syntactic restrictions than CURIEs. (from https://www.w3.org/TR/sparql11-query/#prefNames)
- "dc:Victoria\,\_British\_Columbia" is a valid SPARQL local nam

[2017-11-24 11:29] noorbakerally opened #95 "SPARQL Wrapper returning empty results"
I have a query """CONSTRUCT { <https://bistrotdepays.opendatasoft.com/id/theme/Sport%2C%20Loisirs> ?p ?o . } WHERE {  <https://bistrotdepays.opendatasoft.com/id/tme/Sport%2C%20Loisirs> ?p ?o . }""" and I'm using the SPARQLWrapper to query the sparql endpoint `http://opensensingcity.emse.fr/sparql/bistro` but returning an empty results. I'm executing the same query on that sparql endpoint using the

[2017-11-24 12:43] dayures commented on #95
Maybe there is a typo in the CONSTRUCT query (**tme** instead of **theme**:

WHERE {  <https://bistrotdepays.opendatasoft.com/id/tme/Sport%2C%20Loisirs> ?p ?o . }
WHERE {  <https://bistrotdepays.opendatasoft.com/id/theme/Sport%2C%20Loisirs> ?p ?o . }

Is that?

[2017-11-24 12:47] noorbakerally commented on #95
sadly yes, i'm about to hit my head with the wall, sorry for this silly
mistake & thanks

‌

On Fri, Nov 24, 2017 at 1:43 PM, dayures <notifications@github.com> wrote:

[2017-11-24 12:51] dayures commented on #95
No problem! Pair programming helps :)

[2017-11-24 12:51] #95 closed

[2017-11-24 12:54] noorbakerally commented on #95
Oops, in fact, the query I put upwards correctly works (after the silly mistake) but the SPARQL below doesn't work with RDFlib, with the YasGui client, it does,

[code]

When I uses this query, I get a connection reset problem:

[code]

[2017-11-24 13:34] dayures commented on #95
Interesting behaviour. I made some testing using the same query, using SPARQLWrapper, but changing the prefix declaration:
- Removing all the prefixes declared: **working**
- Keeping just one prefix (random one): **working**
- **Keeping more than one prefix: not working!**
- Using more than one prefix in another sparql endpoint (dbpedia): **working**

Maybe the server is sending a "RST packet". Co

[2017-11-24 13:38] noorbakerally commented on #95
No the request doesn't even go to the server, in fact got the same problem
with jena yesterday and reported it on the mailing list [1], as you said
removing prefix works, i did this and it works, I believe it's when
generating the request to send to the server, for example in the query, if
you remove %2C%20
<https://bistrotdepays.opendatasoft.com/id/theme/Sport%2C%20Loisirs> from
https://bistrotde

[2017-11-26 14:43] joernhees opened #96 "subject literal query doesn't raise exception even though endpoint complains"
### example:

[code]

### output:
[code]
This looks as if everything was fine, just nothing matched...

### expected:
Some sort of exception being raised.

Have a look at what the [endpoint actually returns](http://dbpedia.org/sparql?default-graph-uri=http%3A%2F%2Fdbpedia.org&qtxt=++++SELECT+DISTINCT+%3Ftarget+WHERE+%7B%0D%0A+++++%3Ftarget+%3Fvcb1+%22en%22+.%0D%0A+++++%22en%22+%3Fvcb0+%3Ftarget+.%

[2017-11-26 19:33] dayures commented on #96
Actually, the endpoint complaints because the parameters of the queries are slightly different, between Virtuoso SPARQL Query Editor and SPARQLWrapper.

If the parameter `debug` is removed from the URI generated by the Virtuoso SPARQL Query Editor, Virtuoso returns `200 OK`, the same return as SPARQLWrapper because this parameter is not added in the query sent by SPARQLWrapper.

The parameter can

[2017-11-26 21:01] joernhees commented on #96
oh, nice catch, didn't spot that

[2017-11-26 21:01] #96 closed

[2018-02-21 12:01] dayures commented on #83
@mit2nil @CameronJRAllan  could you provide more details (public SPARQL endpoint + query) about this issue?

[2018-02-21 23:04] #88 closed

[2018-02-23 10:01] dayures commented on #37
idea: In order to compare properly the result format, the requested QueryType (SPARQL Query Form) is needed. For instance, the unexpected N3 requested for a SELECT would return XML

https://github.com/RDFLib/sparqlwrapper/blob/b0465ddaa92ccc8104346bbcf0427d4be556d370/SPARQLWrapper/Wrapper.py#L841

[2018-02-25 10:28] dayures commented on #82
@joernhees @zednis This request has been added (partially) in the code.
BTW, Do you know any public Marklogic SPARQL Endpoint in order to create a suite of tests for it ?

[2018-02-26 19:05] dpwrussell opened #100 "Error when content type missing"
A recent change in the code added the type to the warning:

https://github.com/RDFLib/sparqlwrapper/blame/fa150179c11d1c2e496f134a96457bdbfd20deab/SPARQLWrapper/Wrapper.py#L878

but if the `if` statement (https://github.com/RDFLib/sparqlwrapper/blame/fa150179c11d1c2e496f134a96457bdbfd20deab/SPARQLWrapper/Wrapper.py#L850) is false, then the user will get:

[code]

I got this when I tried to convert

[2018-02-26 20:10] #100 closed

[2018-02-26 20:11] dayures commented on #100
@dpwrussell thanks for the report!

[2018-03-04 00:46] zednis commented on #82
@dayures sadly, I do not.

[2018-03-04 13:54] apurbapaul opened #101 "Need Help for SPAQLWrapper"
Hi,
I am a newbie in SPARQL. I want to explore all the SPARQL queries using SPARQLWRAPPER. I found online documentation. But it is not helpful for me. Currently, I am using SPARQL ebook.
It will be an immense help for me if anybody will come forward and explain the details, at least some basic instruction about the wrapper.

[2018-03-15 15:16] dayures commented on #52
@wikier @iherman @indeyets What do you think to add the functionality explained in https://github.com/RDFLib/sparqlwrapper/issues/52#issuecomment-326627663 ?

[2018-03-15 15:25] dayures commented on #101
Dear @apurbapaul ,

You can find the latest documentation of SPARQLWrapper at https://rdflib.github.io/sparqlwrapper/doc/latest/

BTW, this is an issue tracker, so I am going to close it, as it is not the best place for this kind of questions.

[2018-03-15 15:25] #101 closed

[2018-03-15 20:50] wikier commented on #52
SGTM

[2018-03-19 20:23] Aqua1ung opened #102 "HTTPS"
Attempting to query a SPARQL endpoint over HTTPS, not working.

Here's the script, and feel free to give it a try:

from SPARQLWrapper import SPARQLWrapper
queryString = "SELECT * WHERE { ?s ?p ?o. }"
sparql = SPARQLWrapper("https://admin:admin@stardog.eupathdb.org:5820/EuPathOntology/query")
sparql.setQuery(queryString)
try :
   ret = sparql.query()
except :
   deal_with_the_exception()

[2018-03-19 22:07] dayures commented on #102
@Aqua1ung I tried with another SPARQL endpoint over https (https://landportal.org/sparql) and it works.

I tried your snippet in Python 2.7 and this error is raised "urllib2.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)>"

Which version of Python are you using?
Which version of SPARQLWrapper are you using?

[2018-03-24 20:06] #82 closed

[2018-03-24 21:02] dayures commented on #52
See pull request #103 with an initial approach

[2018-03-26 07:47] wonkydonky opened #104 "Parameterized query"
Is it possible to use this library to create a SPARQL query using parameters? I'm trying to avoid string concatenation for building my queries, but I can't find any library that does this.

For example:

        sparql = SPARQLWrapper ("endpoint")
        sparql.setQuery ('select * where { ?sbj ex:name "' + name + '" }')

should be instead

        sparql = SPARQLWrapper ("endpoint")
        sparq

[2018-03-26 15:28] dayures commented on #104
I think that the issue raised is more related to "how to contatenate strings" than the use of the library itself.

Without changing the library, I have prepared a quick example using the module `Template`.

[code]

[2018-03-27 18:47] dayures commented on #104
@wonkydonky What do you mean by **sanitized** ?  could you provide an example of not **sanitized**?

[2018-03-27 19:09] wonkydonky commented on #104
- http://download.oracle.com/oll/tutorials/SQLInjection/html/lesson1/les01_tm_ovw3.htm
- https://www.quora.com/What-does-it-mean-to-sanitize-a-field-How-is-that-related-to-escaping-as-in-entering-in-malicious-input-that-escapes-or-something
- https://www.esecurityplanet.com/browser-security/prevent-web-attacks-using-input-sanitization.html

[2018-03-27 19:13] wonkydonky commented on #104
In the query above, a valid `$name` is `"alice"` and an invalid one is `"alice o"brian"` (the quote in the middle should be escaped" or `@½-³` (this should be quoted). In short anything that breaks the query syntax or that doesn't guard against injection attacks.

[2018-04-05 06:18] #52 closed

[2018-04-18 13:26] borntyping opened #106 "Using SPARQLWrapper.setTimeout() sets the global socket timeout"
If you use `SPARQLWrapper.setTimeout()` the timeout argument is used to set the global socket timeout ([Wrapper.py#L759-L760](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L759-L760)) instead of the timeout for requests made with SPARQLWrapper. This means that requests made from a different instance of SPARQLWrapper, or sockets in entirely separate code will may unex

[2018-04-24 11:16] steffres opened #107 "formats RDF, RDF-XML, TURTLE not properly working"
Hi all,

we are using your sparqlwrapper extensively but ran into problems regarding different return-formats which I couldn't resolve on my own.

We run the following script

[code]
**Wherein when specifying formats with 'setReturnFormat' the following formats are working flawlessly:**
`JSON, XML, CSV, TSV`

**The following produce warnings but still produce sensible results:**
`sparql_wrapper.se

[2018-05-03 11:32] dayures commented on #107
Dear all,

The behaviour that it is described is the intended one for TURTLE and RDFXML.

From https://www.w3.org/TR/sparql11-protocol/#query-success :

So it is not expected that a RDF/XML or TURTLE format for a SELECT query type. That's why these warning messages are shown.

For the latest case (error in SELECT with RDF return format), I will need to digg more inside it.

@steffres which version

[2018-05-03 13:02] steffres commented on #107
Hi @dayures !

Thanks for your answer. Regarding RDF/XML and TURTLE I will ignore those warnings then?

And as for the versions:
`pip3 show SPARQLWrapper`
returns Version: 1.8.1

and python is 3.5.2

[2018-05-03 14:28] dayures commented on #107
@steffres yes, you could ignore the warnings for `RDF/XML` and `TURTLE` (there are just warnings), but remember the specification :)

The case of `RDF` is similar to the previous one. It is not intended to return a RDF graph if a SELECT or ASK query type has been queried. Just in case, if you want that the SPARQL endpoint returns results in "SPARQL Query Results XML Format" https://www.w3.org/TR/r

[2018-05-04 11:13] steffres commented on #107
Yeah, so far we've mostly used xml instead. As for the specifications, thanks for your pointers, I'll keep them in mind.

As for the RDF/XML file, our endpoint also returns invalid RDF/XML files, if you want you can check this by executing the query
`select distinct ?Concept where {[] a ?Concept} LIMIT 10`
here at https://virtuoso.parthenos.d4science.org/sparql .
So do I understand this correctly

[2018-05-10 13:43] dayures commented on #107
That's could be a possibility.

@steffres do you think that this issue can be closed?

[2018-05-10 18:29] fcbr opened #109 "Using SPARQL Wrapper with RDFLIB and Python3 references urllib2"
Hi,

[code]

The following code gives me an exception trying to reference `urllib2`, which doesn't exist anymore in Python3.

[code]

[code]

[2018-05-11 07:56] dayures commented on #104
Related documentation: http://www.morelab.deusto.es/code_injection/

[2018-05-11 08:09] dayures commented on #104
@wonkydonky do you know any module that provides helpers to know if a string is sanitized (in terms of SPARQL)?

BTW, I am thinking if this interesting issue should to be tackle within the scope of SPARQLWrapper or, maybe, the responsanbility for checking if the query is sanitized belongs to another element.

[2018-05-11 08:37] steffres commented on #107
Sorry, forgot; I do close it now.
Thank you for your support!

[2018-05-11 08:37] #107 closed

[2018-05-11 08:39] dayures commented on #107
@steffres  thanks for providing feedback!

[2018-05-11 09:12] dayures commented on #109
@wikier It looks like this issue is related to this line somehow related to keepalive (and urllib2) https://github.com/RDFLib/sparqlwrapper/blob/3dd4d468674ca9767b93ae33f2a3cff3a916c42d/SPARQLWrapper/Wrapper.py#L587
any ideas to solve it?

[2018-05-11 09:37] dayures commented on #106
fixed in 3dd4d468674ca9767b93ae33f2a3cff3a916c42d

[2018-05-11 09:37] #106 closed

[2018-05-11 12:14] dayures opened #110 "Travis is not working properly for python 3.6"
For instance, in this travis job https://travis-ci.org/RDFLib/sparqlwrapper/jobs/377664442
[code]

[2018-05-11 18:35] borntyping commented on #106
Thanks so much!

[2018-05-11 20:41] wikier commented on #109
Most-likely... I'll take a look during the weekend.

[2018-05-15 14:41] johnbartlettapak opened #111 "UnboundLocalError: local variable 'ct' referenced before assignment"
Hi,

Occasionally when running when hitting an unexpected response type it is failing rather than printing out the warning due to the line reference a variable (ct) before it's assignment.

 File "x.py", line 55, in _run_queries
    query_results = sparql.queryAndConvert()
  File "\lib\site-packages\SPARQLWrapper\Wrapper.py", line 694, in queryAndConvert
    return res.convert()
  File "\lib\site-

[2018-05-16 09:53] johnbartlettapak commented on #111
Hi,

I'm using version 1.8.1.

My calling code is rather simple;

[code]
This seems to fail intermittently with the above error.

After some debugging I believe this is because occasionally the response from `res = self.query()` in Wrapper.py:693 is a 'Connection Established' response;

![image](https://user-images.githubusercontent.com/39300114/40108840-faa57414-58f3-11e8-8dec-2dfbe09e50fe.png)

[2018-05-17 07:32] dayures commented on #23
@olberger currently, the tarballs are still not identical (but some steps have been done in order to align them).

BTW, @wikier what do you think to rename the folder `scripts` to `examples`? After having a look on the debian package, I think that it makes sense. https://packages.debian.org/stretch/all/python-sparqlwrapper/filelist

[2018-05-17 09:40] johnbartlettapak commented on #111
Hi,

Yes this update has now fixed the error around the warning message.

I am now getting the correct failure where the response being returned is empty when it's a 'Connection Established' response rather than the correct SPARQL Response.

Any ideas on what might be causing a response to be returned for 'Connection Established' rather than the actual expected response?

Thanks,
John

[2018-05-20 15:48] cottrell opened #113 "setup.py imports SPARQLWrapper before install_requires can be run"
Not a huge deal but everyone will hit this if they import mods specified in install_requires I think.

See note here:

https://github.com/RDFLib/sparqlwrapper/pull/86

[2018-05-25 08:29] dayures commented on #113
@cottrell What do you think to use something like https://gist.github.com/techtonik/4066623 in order to remove the `import `?

[2018-05-25 09:35] cottrell commented on #113
Seems reasonable ... Doing this kind of thing is really just trying to hook
into a convention as far as I can tell. If there is some way of changing
the convention to make this stuff easier that might be better. Whatever is
easiest and simplest and doesn't confuse future people too much.

On Fri, May 25, 2018, 10:29 dayures <notifications@github.com> wrote:

[2018-05-25 09:49] dayures commented on #113
@cottrell maybe there are better solutions, but I didn't find them. Do you have any suggestion?

[2018-06-01 15:33] dayures opened #116 "Remove ez_setup.py ?"
Due to the reasons explained in https://github.com/astropy/astropy-helpers/pull/384#issue-175892411 , I think that ez_setup.py could be safely removed from the SPARQLWrapper source code.

Any comments on that?

[2018-06-01 18:02] dayures commented on #113
from PEP 396 -- Module Version Numbers specification:

[2018-06-01 18:04] #113 closed

[2018-06-07 20:45] dayures commented on #37
Think to move to `requests `module (instead of `urllib`)

[2018-06-07 20:47] dayures commented on #37
Think about reshaping some constants like SPARQLWrapper.RDF (see #27)

[2018-06-21 18:50] TamouzeAssi opened #117 "How to query local dataset"
Hello,

I have a question on how to use sparqlwrapper to qeury a local dataset (e.g my dataset is the folder ./dataset/graph1.rdf)

Thank you

[2018-06-24 22:34] dayures commented on #117
SPARQLWrapper is a wrapper for a remote SPARQL endpoint (so a system that provides SPARQL as protocol is needed). As far as your question looks like that a simple dataset (file) is loaded as a graph, SPARQLWrapper is not going to be really helpful.

Maybe you can have a look on this example of rdflib, that would fit more into your idea:
http://rdflib.readthedocs.io/en/stable/intro_to_sparql.html

[2018-06-28 23:06] sonilamato opened #118 "Sparql Wrapper not returning the expected results"
I am running into an issue that: Firsty when I execute the following Sparql query in the dbpedia sparql online editor I get the expected results, but when I execute the same query with sparql wrapper I dont receive the same results as the online sparql query in dbpedia. The query is :
[code]
and the sparqlwrapper code is
[code]
How can I get the same results for this issue?

[2018-06-29 09:20] dayures commented on #118
![captura](https://user-images.githubusercontent.com/1654811/42084349-b5294124-7b8d-11e8-807b-d9fcafef6c87.PNG)

I think that the issue here is regarding the "Default Data Set Name (Graph IRI)" (with value `http://dbpedia.org`) that it is set in dbpedia SPARQL online editor.

In the case of the dbpedia SPARQL online editor, the query includes the default graph IRI `http://dbpedia.org` (you can loo

[2018-07-13 12:17] Asli11414 opened #119 "Plotting SPARQL results without transformation"

[2018-08-02 11:04] dayures commented on #102
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2018-08-02 11:04] #102 closed

[2018-08-08 17:12] VulumeCode opened #120 "setQuery() very slow for queries with WITH <graph>"
The regex in `sparql.pattern.search(query).group("queryType").upper()` is slow for queries with a `WITH` clause, and VERY slow for queries with  both a `WITH` clause and leading spaces.

On my machine it takes about 10 seconds for long-ish query with a dozen prefixes. Without leading spaces it takes 3ms. Without `WITH` it takes 30µs (leading spaces or not).

`sparql.pattern` should be modified to

[2018-09-05 10:03] scil opened #121 "can readme.md have a demo about SPARQL update , not just only SPARQL select?"
I tried update and failed, so hope there are some examples

[2018-09-06 18:58] dayures commented on #121
Thanks for your comment and feedback. I am going to prepare a couple of examples (INSERT, DELETE). Hopefully, the library will be fined tuned for SPARQL Update operations. Any suggestion/comment?

[2018-09-06 19:01] dayures commented on #120
thanks for your comment. In some initial testing, it looks like that a long list of prefixes slow down all the process.

@VulumeCode did you try the same query without prefixes? Could you share some examples in order to prepare some tests?

[2018-09-07 08:17] dayures commented on #104
Thanks for contributing to this issue. As it has been 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2018-09-07 08:17] #104 closed

[2018-09-11 12:11] VulumeCode commented on #120
I need the prefixes. I can do without `WITH` by setting the default graph.
It does indeed only seem to happen if there's also some prefixes.

[code]

[2018-09-13 19:39] dayures commented on #120
Thanks for the queries! It were very useful for make some testing (you were completely right about the times!).

Just a side comment: Checking the spec (https://www.w3.org/TR/sparql11-query/), it looks like the reserved word "WITH" must be used with (not with SELECT). Quite probably you are using another querytype but for testing purposes you send the one with SELECT, no?

[2018-09-13 20:05] #120 closed

[2018-09-17 09:48] VulumeCode commented on #120
I see, yes. Virtuoso allows WITH to be used to choose the graph in SELECT queries as well so I was using that for everything. But this improvement ought to work for all implementations, so great!

[2018-09-21 07:57] artreven opened #122 "urllib2 import causes exceptions in Py3"
After installing keepalive this line: https://github.com/RDFLib/sparqlwrapper/blob/533a6063b9730d18f9a83b7b83bd056eacb699b0/SPARQLWrapper/Wrapper.py#L678 raises an ImportError.

[2018-09-21 07:58] #122 closed

[2018-09-21 07:59] artreven commented on #122
duplicate of #109

[2018-09-23 13:31] teledyn opened #123 "Is the README still valid?"
I was trying to use the examples in the README (as applied to an AWS Neptune endpoint) to produce either CONSTRUCT or SELECT queries that could be parsed by rdflib.Graph, and tried all the options but the results .convert() output was giving me Document and Binding objects (and JSON) with no clear path to then convert these into a form rdflib would accept.  Document did have toxml(), but it wasn't

[2018-09-23 13:57] dayures commented on #123
I don't know if I understood correctly your request. Just in case, is this link useful for this issue ?
https://stackoverflow.com/questions/47290338/python-how-to-add-information-from-dbpedia-to-my-graph-using-rdflib

[2018-10-09 20:38] teledyn commented on #123
Thanks -- the second example on that page works, so that's good enough validation -- I wonder now if my troubles with this may be a quirk of Amazon's Neptune, but at least now I have a test case to compare.

[2018-10-09 20:38] #123 closed

[2018-10-10 12:46] dayures commented on #123
Thanks @teledyn . BTW, do you know any open Amazon Neptune instance, where SPARQL Wrapper can be tested on?

[2018-10-11 11:42] dayures commented on #83
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2018-10-11 11:42] #83 closed

[2018-10-11 11:44] dayures commented on #118
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2018-10-11 11:44] #118 closed

[2018-10-11 11:45] dayures commented on #117
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2018-10-11 11:45] #117 closed

[2018-10-13 17:44] wdduncan opened #124 "SPARQLWrapper QueryBadFormed error for long SELECT query"
Is there a limit on the size of the query you can use with with a SELECT query? I have a long SELECT query (posted below) that keeps throwing a QueryBadFormed error. I have validated the query on sparql.org and I have ran the query on the triple store. I am using GraphDB 8.6 SE. The query runs fine

Code:
[code]

Error returned:
[code]

here is the query:
[code]

[2018-10-14 02:32] wdduncan opened #125 "convert query results into pandas dataframe"
I am needing to convert the results from a SPARQL query into a pandas data frame. Here is the function I have written for this:
[code]
Is there a more efficient way to do this?

[2018-10-14 15:39] dayures commented on #124
@wdduncan maybe there is an issue if the query is sent using GET (testing, an error `HTTP Error 414: Request-URI Too Large` is returned).

In order to overcome this issue, you can set the HTTP method using`POST`.

The code would be something like:
[code]
is that working?

[2018-10-14 18:13] wdduncan commented on #124
Setting the method to 'POST' worked. Thanks!

[2018-10-15 16:54] dayures commented on #124
@wdduncan I have updated the library in order to give a hint if this issue is arised.

[2018-10-15 16:54] #124 closed

[2018-11-06 03:04] wdduncan commented on #125
There was bug in my code above. Below is an updated version for those who are interested:
[code]

[2018-11-15 12:41] gpotdevin commented on #121
Landing here after trying to do exactly this but failing.

I am trying to update a named graph using a series of triples which are currently stored in some rdflib graph.

I guess yet another example (so on top of the example_insert.py you nicely uploaded) demonstrating how to automate this process from one or another triples container (i.e. a rdflib graph, or a list of tupples, or whatever you thi

[2018-11-29 11:54] dayures commented on #121
@gpotdevin

I have prepared a really quick script that probably will not cover all cases. Let me know if this is useful for your purpouses.

[code]

[2018-12-17 11:04] gpotdevin commented on #121
Hello @dayures ,

Sorry I was slow at reacting.
Yes I think this is a good example, which I believe should cover quite a few use cases.

Thanks a lot for taking the time to write it up !
GP.

[2018-12-20 22:46] #119 closed

[2019-02-08 08:52] mbarann commented on #109
I have the same problem with Python 3. I think the problem is that the 2to3 step, which is run during the installation of SPARQLWrapper package, does not adapt this Python 2 code correctly.

Maybe six.moves.urllib instead of urllib2 can be used to fix this, then 2to3 does not have to adapt this.

It would be nice if this can be fixed, otherwise SPARQLWrapper cannot be used with keepalive in Python

[2019-02-14 12:10] Alkouf opened #127 "Method "print_results" raises exception when the query is update"
The method:
`
QueryResult.print_results(self, minWidth=None)
`
in the file Wrapper.py raises the exception:
[code]
when the `QueryResult` is from an update query (tried both INSERT DATA and DELETE DATA).

The problem seems to be that `print_results` does not check if there is JSON content to decode (unlike `convert` method).

Added the if condition from the `convert `  method that avoids the excep

[2019-02-15 15:42] dayures commented on #127
Thanks @Alkouf for the feedback.

could you provide a excerpt of code with this example?

Maybe you cannot share the SPARQL update credentials (this is fine), but could you share what SPARQL endpoint are you requesting (Virtuoso, Fuseki...) ?

[2019-03-06 17:13] #127 closed

[2019-03-09 23:42] rchateauneu opened #128 "Create a SPARQL endpoint based on rdflib"
Is there a way to create a SPARQL endpoint based on rdflib ?

Something similar to Virtuoso SPARQL query service ( http://vos.openlinksw.com/owiki/wiki/VOS/VOSSparqlProtocol )

[2019-03-10 08:18] rchateauneu commented on #128
"This document specifies the SPARQL Protocol; it describes a means for conveying SPARQL queries and updates to a SPARQL processing service and returning the results via HTTP to the entity that requested them."
https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/

[2019-03-25 13:34] TallTed commented on #94
Please retitle this issue, from "Issue with **_coma_** in **_relation_**" to "Issue with **_comma_** in **_SPARQL Prefixed Name in Virtuoso_**"

[2019-04-17 18:12] dayures commented on #109
The dependency that caused the issue was remove on rdflib (see https://github.com/RDFLib/rdflib/commit/7255e6db12e6479d10b3b738fef1529e393c9ff7). But as far as there is no new release of rdflib since 4.4.2 (dependency of SPARQLWrapper), this issue would raise.

[2019-04-17 18:54] #109 closed

[2019-04-17 19:09] dayures commented on #109
A new release of SPARQLWrapper (1.8.3) has just been launched and it is ready to be used (and hopefully, with this issues solved). https://pypi.org/project/SPARQLWrapper/1.8.3/#files

[2019-04-17 20:09] dayures commented on #121
Added example suggested in the scripts folder (7dc031f2a7cb7adae30ae2b6763569e1bdb591f8)

[2019-04-17 20:09] #121 closed

[2019-04-17 20:18] dayures commented on #128
Hi, I think that this question could be better answered byt the rdflib library team. Let me suggest @rchateauneu to contact the rdflib team https://github.com/RDFLib/rdflib

[2019-04-17 20:18] #128 closed

[2019-04-18 08:21] atsampson opened #129 "1.8.3 tarball is missing custom_fixers"
`SPARQLWrapper-1.8.3.tar.gz` is uninstallable because it doesn't include the custom_fixers directory:

[code]

The Travis CI test failues since e7da403c56a94e518ccf860c6157ba33f00b073d are also the result of this.

[2019-04-18 09:40] #129 closed

[2019-04-18 10:10] dayures commented on #129
@atsampson thanks for the heads up!

[2019-04-18 10:15] dayures commented on #125
Hi @wdduncan

Let me share some pointers to developments around pandas and SPARQLWrapper, that maybe could be interesting for you:

https://github.com/lawlesst/sparql-dataframe
https://lawlesst.github.io/notebook/sparql-dataframe.html
https://github.com/SuLab/sparql_to_pandas/blob/master/SPARQL_pandas.ipynb

https://github.com/RDFLib/sparqlwrapper/pull/112

[2019-04-18 14:07] atsampson commented on #129
Cheers for the quick fix :-)

[2019-04-19 15:28] wdduncan commented on #125
@dayures
Thanks for these pointers! I will make use these!

[2019-04-19 17:41] wdduncan commented on #125
@dayures
I was looking at this notebook:
https://github.com/SuLab/sparql_to_pandas/blob/master/SPARQL_pandas.ipynb

A straightforward approach for putting the SPARQL results into a data frame is:

[code]

[2019-04-22 14:24] #110 closed

[2019-04-22 14:25] dayures commented on #110
More info at https://www.askolin.fi/2018/11/08/pyenv_virtualenv.html

[2019-05-10 10:47] dayures commented on #23
Thanks for contributing to this issue. As it has been 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2019-05-10 10:47] #23 closed

[2019-05-24 09:38] nicholascar opened #132 "DESCRIBE queries to Fuseki fail if output format set to turtle"
Reported by @alex-ip:

Fuseki won't accept 'turtle' as an output format and fails - returns 500 - if it is set. Is this a known bug?

A quick hack fix to use text/turtle instead of turtle is presented below.

*For file https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py, function `_query()`*
[code]

[2019-05-24 13:29] dayures commented on #132
Hi @nicholascar quick question. Could you share the endpoint where this issue is raised? It this is not possible, could you tell us the version of fuseki? Thanks!

[2019-05-30 04:39] alex-ip commented on #132
Apologies for the delay in responding to this.

The Apache Jena Fuseki instance we are using is Version 3.10.0.

If you email me at Alex(dot)Ip(at)ga(dot)gov(dot)au, I can send you through a working endpoint and some credentials to access it.

Cheers,

Alex

[2019-05-30 05:55] dayures commented on #132
Thanks @alex-ip !

From my notes (available at the top of the code of Wrapper.py), "turtle" is not a valid alias for the output for Apache Jena Fuseki2.

In this case, maybe you can try setOnlyConneg() method.

I have tested it with an open endpoint of Apache Jena Fuseki (version 3.6.0) and it looks like it is working. Please, find the example below.

[code]

[2019-05-31 07:02] alex-ip commented on #132
Thanks, @dayures!

It looks like the setOnlyConneg fix only "kind of" worked with Apache Jena Fuseki version 3.10.0. It works for turtle, json-ld and rdf+xml, but requesting "n3" for a describe query returns a turtle response.

At least it doesn't error out.

Cheers,

Alex

[2019-06-02 16:09] nicholascar commented on #132
@alex-ip n3 pretty much is Turtle. What we’re you expecting to get from using n3 other than Turtle?

If this is ok, can the Issue close?

[2019-06-03 07:48] novkor opened #133 "SPARQL malformed query"
Hey guys.

Im trying to build a query to get the type of a resource. My query looks like this :

`query="""SELECT DISTINCT ?label
WHERE {
?type dbp:type dbr:Dad's_Root_Beer_brands .
OPTIONAL{ ?type rdfs:label ?label .}
FILTER (lang(?label) = "en" )
}"""`

The error i get :
`QueryBadFormed: QueryBadFormed: a bad request has been sent to the endpoint, probably the sparql query is bad formed.
Respons

[2019-06-03 13:33] dayures commented on #133
Hi @novkor ! As a quick comment, did you see this issue https://github.com/RDFLib/sparqlwrapper/issues/94 ?? Maybe it is related.

BTW, what endpoint engine are you querying (Virtuoso, Fuseki2, Allegrograph...) ?

[2019-06-03 19:29] novkor commented on #133
Hi @dayures !
Haven't seen it yet, took a quick look. I had to escape commas as well, but i could manage to do that. As i mentioned i can escape every special character, but apostrophe. :(
Maybe it is indeed related, but i'm not sure yet.
When i take a look on the querystring i am constructing, i can only see that like it tries to escape apostrophe by default, and if i try to escape it with a back

[2019-06-06 01:41] alex-ip commented on #132
G'day @nicholascar - I reckon that returning turtle when n3 is specified is probably not ideal behaviour.
We are trying to offer RDF content from Jena-Fuseki triple-store in multiple formats, so I would prefer to obtain the result of a "describe" query in the required format rather than having to convert it client-side.
Cheers,
Alex

[2019-06-12 09:26] sharpaper opened #134 "Wrap multiple endpoints at once"
Is is possible to wrap more than one sparql endpoint at once? Something like this

        sparql = SPARQLWrapper(["http://host-1.org/sparql", "http://host-2.org/sparql"])

so that I can run a query on a sort of unified graph?

[2019-06-12 15:16] dayures commented on #134
Thanks for your question. This is not possible. Maybe you could be interested in [federated queries](https://www.w3.org/TR/sparql11-federated-query/).

[2019-06-12 15:16] #134 closed

[2019-06-12 15:49] dayures commented on #133
Hi @novkor

I had a look on this case and I was able to run the query with the apostrophe. Please, take into account that the query is different, because I couldn't find in dbpedia the dbp:type relation.

`query = """
SELECT DISTINCT ?label
WHERE {
?type dct:subject <http://dbpedia.org/resource/Category:Dad's_Root_Beer_brands> .
OPTIONAL{ ?type rdfs:label ?label .}
FILTER (lang(?label) = "en" )
}"

[2019-06-15 18:28] dayures commented on #132
@alex-ip Maybe it is an issue in Fuseki.

Using a testing app for REST request (Advanced REST Cliente), I queried a Fuseki 3.6.0 endpoint, using GET verb, a DESCRIBE query and the `Accept` header value `text/rdf+n3;application/n3;text/n3`

`http://agrovoc.uniroma2.it:3030/agrovoc/sparql?query=DESCRIBE <http://aims.fao.org/aos/agrovoc/c_aca7ac6d>`

The response header was `content-type: text/turtle

[2019-06-17 13:19] RdNetwork opened #136 "HTTP Error 504 when returning results"
I am using SPARQLWrapper to update and manage data (big RDF graphs, the biggest having 130M+ triples) on a Virtuoso 7 server.

One of my processes requires a full graph copy (using COPY from the SPARQL 1.1 specification). My code works fine when working on smaller graphs, but when working on my biggest graph, SPARQLWrapper returns en HTTP 504 Error ("Gateway Timeout").

When checking in Virtuoso,

[2019-06-17 16:41] dayures commented on #136
Hi @RdNetwork

Which version of SPARQLWrapper are you using?

Were you able to reproduce this issue outside SPARQLWrapper using tools such as curl? Just in order to be sure that the issue is inside SPARQLWrapper and it is not a server-side issue.

Thanks!

[2019-06-17 19:36] dayures opened #137 "Returns application/n-triples when turtle is requested (DESCRIBE)"
Server: GraphDB (http://rs.ontotext.com/repositories/ff-news)
Returns application/n-triples instead of turtle: 'application/turtle', 'text/turtle' for DESCRIBE
SPARQLWrapper 1.8.4

[2019-06-17 19:41] #137 closed

[2019-06-29 09:39] edent opened #138 "Dealing with HTTP 429 errors?"
After running a few too many queries against WikiData, I received the following error from sparqlwrapper:

`urllib.error.HTTPError: HTTP Error 429: Too Many Requests`

I know the correct answer is for me to be more efficient with my queries, but is there any way to make sparqlwrapper slow down?

Wikidata uses a `Retry-After` header to let clients know when they can continue (https://www.mediawiki.

[2019-07-03 14:30] bngksgl opened #139 "HTTP Error 403: Forbidden"
Hi,

I am trying to use sparqlwrapper inside python to query wikidata. Last week my code was working without a problem, however today I am receiving 'HTTPError: HTTP Error 403: Forbidden' error: I also tried with using requests, i am still getting the same error. How can i overcome this issue? At below you may find the code i am using and the error.

**Code:**
agent_={'User-Agent': 'Mozilla/5.0 (X

[2019-07-04 16:15] dayures commented on #139
Hi @bngksgl I asked some people involved in @wikidata and it looks like there is an issue with the SPARQL endpoint. Hopefully it will be solved soon.

[2019-07-12 07:27] bngksgl commented on #139
Hi thank you for the feedbcak @dayures . I just checked today as well and its still not working. Did you hear back from people in @Wikidata?

[2019-07-12 16:45] dayures commented on #138
@edent thanks for the feedback. I tried to reproduce the issue in my laptop, but I was unsucessful. Meanwhile, I have started some kind of support for 429 HTTP code. Could you test it and provide feedback (in order to incorporate it on master branch) ? Thanks!

[2019-07-16 15:55] dayures commented on #139
Hi @bngksgl I haven't received any feedback. I tested the query today and it returns a timeout error (not a 403).

BTW, could you double check your query? Maybe it could be re-organize in a way that it doesn't overload the server. Also, it appears "?item" in the query. Is that ok, or maybe is "?business" ?

For instance, this query (that is part of the query that you shared), already returns +11K

[2019-08-08 16:22] chicocvenancio commented on #139
Maybe we need to set the UserAgent? https://lists.wikimedia.org/pipermail/wikidata/2019-July/013247.html

[2019-08-08 16:41] ookgezellig commented on #139
See also https://phabricator.wikimedia.org/T230135

[2019-08-09 06:46] dayures commented on #139
@chicocvenancio @ookgezellig thanks for the feedback! Do you know if it is possible to access to the black-listed user agents somehow?

[2019-08-09 07:30] bngksgl commented on #139
@dayures thanks for your comment!
I changed my IP address, and it seems to work now. I think the problem was due to excessive querying my IP adress was blocked from their servers. Therefore, I reworked the query to create less hustle for the servers.

[2019-08-23 16:40] ahmad88me opened #141 "urlopen error [Errno 99] Address not available"
I am running the code inside docker. For some queries I got this error `urlopen error [Errno 99] Address not available`. But when I retry the same query again, it seems to work.

The query (on DBpedia)
[code]

The python code (attached)
[code]

[2019-08-24 17:19] dayures commented on #141
Maybe it could be an issue in dbpedia availability. Did you try to check the endpoint availability in advance?

[2019-08-26 12:43] ahmad88me commented on #141
When I added randomised wait for the queries that failed it worked.

[2019-08-28 15:42] D063520 commented on #102
Hi,

I have the same problem when using the wikidata endpoint:

endpoint = "https://query.wikidata.org/sparql"

This should work or?

Merci
D063520

[2019-09-05 15:01] RdNetwork commented on #136
Hi,

Sorry for the big delay... Had other priorities at the time and problems with other stuff and I forgot to take the time to work on this again.

So, some additional information:
- this only happens with decently big graphs (i.e. ore than ~10 million triples);
- indeed, this Gateway Timeout always happens after 120 seconds of query running time (despite setting the timeout in my Python code, as

[2019-09-13 15:53] Mazen001 commented on #65
How i can install keep_alive Python module please?

[2019-09-23 06:40] dayures commented on #136
Thanks for the feedback.

Did you try to set the timeout to a lower value (like 5 seconds)? Is it working as expected with that amount?

[2019-09-23 10:13] RdNetwork commented on #136
When I set the timeout to a lower value (e.g. ```setTimeout(5)```) I have another kind of timeout:

[code]

Which indeed happens after 5 seconds.

[2019-10-25 18:45] dayures commented on #136
Any update about this issue? I am not so sure that the problem is when the result set is built in Python (due to the HTTP error).

[2019-10-25 18:49] dayures commented on #133
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2019-10-25 18:49] #133 closed

[2019-11-19 14:41] lioneltrebuchon commented on #139
1) If one cannot easily change IP address, do you know how long it takes for the IP to be removed from the blacklist?
2) How do you get onto this blacklist? Is it amount of requests, or amount of returned rows? Does anyone know?

[2019-11-19 17:26] lucaswerkmeister commented on #139
You shouldn’t change IP address at all. Rate limits are per client, which is defined as IP address + user agent, so what you should do is set a good user agent in accordance with the [User-Agent policy](https://meta.wikimedia.org/wiki/User-Agent_policy). The limits are also explained [here](https://www.mediawiki.org/wiki/Wikidata_Query_Service/User_Manual#Query_limits) – basically, you get 60 seco

[2019-12-26 09:10] dayures commented on #37
Already migrated to sphinx and readthedocs in version 1.8.5

[2020-02-01 17:35] hsolbrig opened #144 "Parameters in SPARQL URI"
We need to parameterize our URI:

`https://graph.fhircat.org/repositories/fhirontology?infer=false`

This currently doesn't work because [Wrapper.py#L698](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L698),  [Wrapper.py#L711](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L711) and  [Wrapper.py#L719](https://github.com/RDFLib/sparqlwrap

[2020-02-02 10:28] dayures commented on #144
Did you try the method [addParameter](https://sparqlwrapper.readthedocs.io/en/latest/SPARQLWrapper.Wrapper.html#SPARQLWrapper.Wrapper.SPARQLWrapper.addParameter)?

[code]

[2020-02-02 18:50] hsolbrig commented on #144
Ah - I should have followed the getRequestEncodedParameters further.

This will work in the near term, but it would still be handy if you could slip this change in at a convenient point -- the reason being is that my users often copy a base URL from a SPARQL client.  In the near term, I'll tell them that they need to remove the parameters and pass them as as separate command line arguments.  In th

[2020-02-12 08:06] fetahokey commented on #94
Parentheses, coma, or any non-alphanumeric characters aren't legal in prefixed names, but you can just use the full URI instead:

[code]
It's also possible to escape them using **`\`**:

SPARQL local names also allow the non-alphanumeric characters allowed in IRIs via backslash character escapes (e.g. ns:id\=123).

[code]

[source: stackoverflow](https://stackoverflow.com/questions/31384952/how-to

[2020-03-02 02:11] cdhx opened #145 "ConnectionResetError: [WinError 10054] The remote host forcibly closed an existing connection."
hi
i just run the example code，and got this error

ConnectionResetError: [WinError 10054] 远程主机强迫关闭了一个现有的连接。
(in English : ConnectionResetError: [WinError 10054] The remote host forcibly closed an existing connection.)

this is my code,exactly same as the example
`
from SPARQLWrapper import SPARQLWrapper, JSON

sparql = SPARQLWrapper("http://dbpedia.org/sparql")
sparql.setQuery("""
    PREFIX rdfs:

[2020-03-16 06:31] sandrotosi opened #146 "can we run tests without network access?"
Hello,
in Debian we are careful not to allow a build process to access the internet during the package creation. It appears as if every test in sparqlwrapper *does* require network access, which makes the entire test suite to fail :)

is there any way (even if not already implemented) to run the test suite without accessing internet?

Thanks
Sandro

[2020-03-22 07:52] dayures commented on #146
Hi @sandrotosi ,

well, I can see 2 options:

- set up in your localhost all this kind of triplestores and query them locally
- or there is a suite of test that don't require internet access: https://github.com/RDFLib/sparqlwrapper/blob/master/test/wrapper_test.py

Is that fine for the Debian package creation ?

[2020-03-22 07:58] dayures commented on #145
Hi,

just tested on python2.7 and python 3.6 and it looks like it is working fine. Could you try again ? Maybe it could be an issue with the network.

[2020-03-22 08:11] cdhx commented on #145
ok i find the reason
it is just the website's problem,the package works fine on other endpoint
i tried to requests DBpedia，but it usually cannot response me，but if i requests local endpoint create by my self, it works fine
besides, if anybody have more stable way to requests DBpedia dataset, please tell me, org‘s connection and speed is very bad(maybe it is just my VPN's problem)

[2020-03-22 08:12] #145 closed

[2020-04-05 22:19] jgeluk commented on #2
7 years later, still no connection pooling or keep-alive support for Python 3?

[2020-04-07 11:43] seth-priya opened #148 "automated tests fail, error out"
I am running inside a container
# uname -a
Linux 22d64cb76af4 4.4.0-38-generic #57-Ubuntu SMP Tue Sep 6 15:42:33 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

# cat /etc/os-release
NAME="Red Hat Enterprise Linux Server"
VERSION="7.8 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.8"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.8 (Maipo)"
ANSI_COLOR="0;31"
CPE_NA

[2020-04-09 13:01] Demirrr commented on #144
Hello,
I seem to have similar problem. I would like to have
query = 'PREFIX dcat: <http://www.w3.org/ns/dcat#>
             PREFIX dct: <http://purl.org/dc/terms/>
            SELECT  (COUNT(distinct ?s) AS ?num)WHERE{
            GRAPH ?g {
                                    ?s  a                     dcat:Dataset .
                                    ?s dct:description                    ?o .

[2020-04-15 06:47] dayures commented on #148
Hi @seth-priya

Thanks for your message.

Could you share the output of the test.sh run (in order to see what were the errors...)?

Sometimes, the issue is the availability (could be down) of the sparql endpoints that are used for the testing.

[2020-04-15 06:48] dayures commented on #144
@Demirrr coud you share the whole code that you are using?

[2020-04-16 06:29] Demirrr commented on #144
[code]

[2020-05-06 16:26] wikier opened #152 "Update website logo"
As PR #150, we also need to update new SPARQLWrapper logo on https://rdflib.dev/sparqlwrapper/ ([`gh-pages` branch](https://github.com/RDFLib/sparqlwrapper/tree/gh-pages)).

[2020-05-08 21:03] dayures commented on #152
fixed on c108b9532f495239544da15c27a173e3a468f01f

[2020-05-08 21:03] #152 closed

[2020-05-11 22:25] nicholascar commented on #148
We've recently fixed some of the tests that were failing in Travis so please re-test with updated code from the `master` branch.

[2020-05-12 11:50] seth-priya commented on #148
Thanks, all tests pass now!!

[2020-05-12 11:50] #148 closed

[2020-05-28 09:01] zhiyuanw101 opened #155 "Getting different result from wrapper and endpoint"
I tried the following SPARQL:
[code]
Both directly on http://dbpedia.org/sparql and the wrapper, however, they end up with different result, for example the pair

p                                                           | o
--- | ---
http://dbpedia.org/ontology/director | http://dbpedia.org/resource/Walt_Disney

is missing from the wrapper result

[2020-06-10 12:30] nicholascar opened #156 "JSON & XML outputs handled differently by `convert()`"
`convert()` does different things for different formats, as per the code comments in [convert()](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L958):

* *in the case of :data:XML, a DOM top element is returned*
* *in the case of :data:JSON, a json conversion will return a dictionary*

Why? Surely a "wrapper" would hide the lower-level stuff, e.g. the return format.

[2020-07-15 09:29] namedgraph commented on #132
N3 is not a standard syntax.

[2020-07-15 09:32] namedgraph commented on #132
Why is SPARQL wrapper sending triplestore-specific URL parameters such as `output` and `results`? Content negotiation should be the default mode, as it is the only standard one.

[2020-07-15 09:37] DanielBakas commented on #132
`sparql.setOnlyConneg(True)` should be the default setting... >:(

[2020-07-16 18:17] sirspock opened #157 "use aiohttp for async"
Use urllib2 led to the code running sequentially and synchronous.

[2020-08-14 16:13] WolfgangFahl opened #159 "unknown response content type on update with Apache Jena Fuseki"
I get the error message:
[code]
when running the unit test below. I found

- https://stackoverflow.com/questions/44086141/error-in-python-code-with-sparql-query
- and #28

which both do not explain the reason for the problem and e.g. how to work around it. I assume the content-type for Apache Jena must be different. **How could i set it?**

**python unit test**

[code]

**jena.py helper module**

[2020-08-14 18:41] dayures commented on #159
Maybe this issue is because there result of a SPARQL **Update** query (in SPARQLWrapper) is not a result that can be converted/parsed, due to the the nature of the specification of the SPARQL protocol.

For SPARQL Query (SELECT, ASK, DESCRIBE, CONSTRUCT),

https://www.w3.org/TR/2013/REC-sparql11-protocol-20130321/#query-success

And in the case of SPARQL Update,

https://www.w3.org/TR/2013/REC-spa

[2020-08-15 06:12] WolfgangFahl commented on #159
see also http://wiki.bitplan.com/index.php/DgraphAndWeaviateTest - i am sending an e-mail to the apache users list now to get more info

[2020-08-15 14:15] afs commented on #159
`text/html;charset=utf-8` not a Fuseki response from the SPARQL engine. Was the endpoint amn HTML page?

[2020-08-15 14:43] WolfgangFahl commented on #159
@afs thank you for looking into this. I followed the procedure in
http://wiki.bitplan.com/index.php/DgraphAndWeaviateTest#Apache_Jena
[code]
which will install apache jena - load the sample data and fire up the fuseki server.
[code]

I took the endpoint info from http://localhost:3030/dataset.html which states that SPARQL Query would be at:
/example/query and SPARQL Update at /example/update

Thus

[2020-08-15 15:39] afs commented on #159
`text/html;charset=utf-8` comes from somewhere but I can't make it happen with Fuseki 3.16.0.

Even static HTML pages come back `Content-Type: text/html` -- no `charset`.

What does the Fuseki server log file contain? If there are no entries for the request, then the request didn't reach Fuseki.

[2020-08-15 17:10] WolfgangFahl commented on #159
@afs
The log has:
[code]

I tried a curl request
[code]
with insert.txt=
[code]
but get a Error 400: Bad Request.

I tried debugging the http call in my Python IDE. But due to all the abstraction layers it's pretty hard.
full_url is: str: http://localhost:3030/example/update
'Content-type' (4341599984)	str: application/x-www-form-urlencoded
'User-agent' (4341609136)	str: sparqlwrapper 1.8.5 (rdfli

[2020-08-15 17:36] afs commented on #159
re: `curl --data-binary @insert.txt` -- this sends the content in the body -- you need to set the content type.

`curl -v  -g --header 'Content-type: application/sparql-update' --data-binary 'INSERT DATA{}' http://localhost:3030/example/update`

else it is `application/x-www-form-urlencoded`, in which case you need "update=" in `insert.txt`.

`curl -v -g -d'update=INSERT DATA{}' http://localhost:3

[2020-08-16 05:51] WolfgangFahl commented on #159
@afs, @dayures thank you for your effort which lead to finding out how to do things:

self.sparql.setRequestMethod(POSTDIRECTLY)

is the key to properly handling updates. The documentation might want to more prominently point this out. E.g. there is no example in the scripts directory showing the usage.

[code]

[2020-08-16 08:57] afs commented on #159
It would be better if the update read the response body and threw it away.

For example, it may be a parse error and there is an error message but even for a zero length body, it is better to read it and hit the end of stream.

For any HTTP usage, if the caller does not read all of the response body, the connection can not be reused for another request because to the HTTP code it looks like it is

[2020-08-16 12:28] WolfgangFahl commented on #159
@afs - i think i get an empty response in case of success and an exception if case of error that's what http://wiki.bitplan.com/index.php/DgraphAndWeaviateTest#Apache_unit_test now tests. How come you assume the body is not read?

[2020-08-16 12:58] afs commented on #159
Because I can't see a line that does it (not that I know SPARQLWrapper but there was an SO quertion a while back that came down to holding connections open and eventually the server ran out of serving threads.

        response=self.rawQuery(insertCommand, method=POST)
        return response

"response" is "queryResult" -- the document has `results.response.read()` (different 'response').

This w

[2020-08-16 13:05] WolfgangFahl commented on #159
@afs - thanks for the hint - i added a dummy line. Now I am stuck at https://stackoverflow.com/questions/63435157/listofdict-to-rdf-conversion-in-python-targeting-apache-jena-fuseki

[2020-08-18 10:48] WolfgangFahl commented on #159
@afs @dayures The result of all this is an extension of the SPARQLWrapper at https://github.com/WolfgangFahl/DgraphAndWeaviateTest - for this issue only the documentation part is open. I am going to open a new issue regading the ListOfDict conversion

[2020-08-18 10:51] WolfgangFahl opened #160 "ListOfDict Support"
To make life easier for Python developers a "ListOfDict" support would be nice as implemented in
https://github.com/WolfgangFahl/DgraphAndWeaviateTest/blob/master/storage/sparql.py
and tested  in https://github.com/WolfgangFahl/DgraphAndWeaviateTest/blob/master/tests/testSPARQL.py

What do you suggest about this Change Request?

I am offering to make this a separate OS project and make it availabe

[2020-08-24 13:08] WolfgangFahl opened #161 "How can i get the Fuseki API via SPARQLWrapper to properly report a detailed error message?"
see

* https://stackoverflow.com/questions/63486767/how-can-i-get-the-fuseki-api-via-sparqlwrapper-to-properly-report-a-detailed-err
and
* https://lists.apache.org/thread.html/r55586eec9b37b2441e0b97cc6c3adc8fe172e6cf9a494688ee0256bf%40%3Cusers.jena.apache.org%3E

[2020-08-27 07:09] nicholascar commented on #160
In discussion with another RDFlib maintainer, it would be great to see this added to SPARQLWrapper. SPARQLWrapper is working well and extensions to it to export more modern data objects are to be encourage.

There are a couple of issues with the maintenance of SPARQLWrapper, mainly that the tests need some revision to see whey they always seem to have a couple of failures (see each PR in https://g

[2020-09-21 16:15] WolfgangFahl commented on #160
@nicholascar for the time being i decided to make this a separate project since I'd also like to get SQL and JSON support and may be later CVS and Dgraph and so on.

https://github.com/WolfgangFahl/pyLoDStorage

is the project it's available via https://pypi.org/project/pylodstorage/ and https://github.com/WolfgangFahl/pyLoDStorage/issues/6 is the issue which introduces the SPARQL support.

[2020-09-23 06:41] WolfgangFahl opened #162 "agent param not available for SPARQLWrapper2"
To fix https://github.com/WolfgangFahl/pyLoDStorage/issues/9 I need to set the agent param. It's available for SPARQLWrapper but not for SPARQLWrapper2. I think i can work around it but a more clean way would be to make it available.

[2020-09-25 14:35] WolfgangFahl opened #163 "json.decoder.JSONDecodeError: Expecting property name enclosed in double quotes"
When doing a query with some 400.000 result records via Wikidata i get the error message:

File "/Users/wf/Library/Python/3.8/lib/python/site-packages/SPARQLWrapper/SmartWrapper.py", line 315, in query
[code]

The need here is to be able to debug the JSON result. For that it would be great if the Wrapper had a debug option which allows to store the JSON result to a file before it being fed to conv

[2020-09-26 17:30] eknutov commented on #155
@zhiyuanw101 you're using the `SparqlWrapper` w/o setting a graph parameter.
when querying via the http://dbpedia.org/sparql UI the graph IRI is set to `http://dbpedia.org` by default,
so if you use this:
[code]
you will have exactly the same result set as you would have querying via the web GUI

@nicholascar this issue can be closed as unreproducible/not an issue

[2020-09-27 10:21] nicholascar commented on #155
Thanks @eknutov

[2020-09-27 10:21] #155 closed

[2020-09-28 20:37] dhimmel commented on #125
@wdduncan what type is `result` in your answer? I am looking to convert an `rdflib.plugins.sparql.processor.SPARQLResult` object to a pandas DataFrame in `rdflib` version 5.0.0.

Here are some things I've tried that work for different use cases:

[code]

It seems like consuming results from SPARQL queries into Python workflow with native Python types is a common operation for rdflib. Am I missing

[2020-09-28 21:58] wdduncan commented on #125
@dhimmel Good question! I didn't consider that :)
I've been handling data type coercion on the client slide. Do the results from SPARQLWrapper include data type information? I forget ...
You may be able to let Pandas infer the data types. I haven't tried this.

As for RDFLib's native data types, does only work when you use RDFLib's triple store engine?

[2020-10-06 08:59] white-gecko commented on #125
My simple solution was so far:

[code]

I think this is not technically an issue of the sparqlwrapper but could be some additional PandasWrapper within the RDFLib collection of projects.

[2020-10-06 11:40] wdduncan commented on #125
Thanks @white-gecko
That is a simpler solution!

[2020-10-06 13:20] dhimmel commented on #125
Noting my reply at https://github.com/RDFLib/rdflib/issues/1179#issuecomment-704261776.

I realized the original issue here was about converting a [`SPARQLWrapper.Wrapper.QueryResult`](https://github.com/RDFLib/sparqlwrapper/blob/d88b542fdf39dfea8ee8567ed3c3fea3cb9cf975/SPARQLWrapper/Wrapper.py#L816) object to a DataFrame. Whereas my question is about converting a [`rdflib.plugins.sparql.processor

[2020-10-06 13:46] matentzn commented on #125
Note that the @white-gecko solution does not deal with the data types in literals in any way; its not wrong, just something to note. In order to at least have the columns being strings, I had to do something like this:

[code]

But this will not take care of the values in the cells (for which you may want to call `.toPython()`.

[2020-10-06 13:47] matentzn commented on #125
(dont use `str(v)`, better use v.toPython())

[2020-10-06 14:03] dhimmel commented on #125
Thanks @matentzn. `.toPython()` was the missing piece. Here's a function to convert `rdflib.plugins.sparql.processor.SPARQLResult` to a DataFrame that converts types:

[code]

Another option would be to call `.toPython()` on the column names, but that prefixes them with `?`, which I'm guessing is not what most users want.

[2020-10-06 19:48] dhimmel commented on #160
@WolfgangFahl can you update your original comment to use commit-hash versioned links (links are currently broken).

A way to get results as a list of dicts, where values used Python types, would be really nice. It would make addressing https://github.com/RDFLib/sparqlwrapper/issues/125 much easier.

[2020-10-09 06:22] WolfgangFahl commented on #160
@dhimmel  indeed it's better to have the links updated after the refactoring from the test project to the one that is already released and maintained and in use. If you'd like to get the pandas support integrated please file an issue at https://github.com/WolfgangFahl/pyLoDStorage/issues

[2020-11-04 10:00] renyuneyun opened #164 "Change return format adds extra request parameters"
I'm using SPARQLWrapper to o my queries and some of them are CONSTRUCT queries. For some reasons, I need to change the return format to anything other than XML (RDF/XML).

When doing the query, my SPARQL endpoint yields errors to me, saying `Error 400: Can't determine output content type: turtle`. A minimal query code is:
[code]
The error message is raised for any return format other than `SPARQLW

[2020-11-04 19:47] dayures commented on #164
Maybe you can use [setOnlyConneg](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L292)

Also, depending on the SPARQL endpoint, the way to query it differs. More information is available on the [README file](https://github.com/RDFLib/sparqlwrapper/blob/master/README.rst)

[2020-11-05 16:36] dayures commented on #164
Maybe this issue is related https://github.com/RDFLib/sparqlwrapper/issues/132

[2020-11-05 16:41] dayures commented on #139
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2020-11-05 16:41] #139 closed

[2020-11-05 16:42] dayures commented on #136
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2020-11-05 16:42] #136 closed

[2020-11-05 16:43] dayures commented on #141
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2020-11-05 16:43] #141 closed

[2020-11-05 16:45] dayures commented on #144
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2020-11-05 16:45] #144 closed

[2020-11-05 16:46] dayures commented on #146
Thanks for contributing to this issue. As it has been more than 90 days since the last activity, we are automatically closing the issue. This is often because the request was already solved in some way and it just wasn't updated or it's no longer applicable. If that's not the case, please do feel free to either reopen this issue or open a new one. We'll gladly take a look again!

[2020-11-05 16:46] #146 closed

[2020-11-06 03:38] renyuneyun commented on #164
Ah, thanks. Using `setOnlyConneg` solves this issue. There is a necessity to manually convert it to a `rdflib.Graph`, which is surprising for me in the first place, even though it is mentioned (not highlighted, in my perspective) in the document.
And I belive it is indeed related to #132 .

Also thanks for mentioning again the README. This time at the very late sections I found it mentions that di

[2020-11-06 03:43] renyuneyun commented on #164
Oh, and when I first saw the problem I wasn't sure of it cause, so I asked it first on stackoverflow. A guy (AndyS) gave some comments, and he/she seems come from the fuseki part.
He mentioned [[1]](https://stackoverflow.com/questions/64646788/sparqlwrapper-cant-make-construct-query-return-other-than-xml?noredirect=1#comment114370955_64646788) [[2]](https://stackoverflow.com/a/64702418/2854555) fu

[2020-11-06 07:59] dayures commented on #164
Right now, SPARQLWrapper cannot determine the "system" of SPARQL endpoint that it is going to query. Actually, this could be a side project (giving a URL of a potential SPARQL endpoint, return the system behind).

Maybe this information is easier to read in the documentation, [where there is a section about it](https://sparqlwrapper.readthedocs.io/en/latest/main.html#database-management-systems).

[2020-11-06 08:34] renyuneyun commented on #164
Thanks for the information! Some of them are indeed worth reading for me.

Another thought: instead of changing the default behaviour, how about adding two parameters to the `query` (and `queryAndConvert`) function like this:
[code]
At lease this is the first place I was looking for in the document. Or, maybe mentioning the `setOnlyConneg()` method in the docstring of `query()`, `addParameter()` o

[2020-11-06 08:34] #164 closed

[2021-02-03 15:33] dinispeixoto commented on #162
This also happens with the `updateEndpoint` param. Would it make sense to open a PR around this?

[2021-03-21 18:18] white-gecko opened #165 "CLI is not available"
There is a script called `sparql.py` in `scripts` (https://github.com/RDFLib/sparqlwrapper/blob/master/scripts/sparql.py) but if I install sparqlwrapper with pip, the script is not added to my path.

[2021-03-21 18:47] white-gecko commented on #37
Is there any progress in moving towards a version 2.x?
Also I'm unclear about the relation between sparqlwrapper and rdflib, there is the dependency in the `requirements.txt` (https://github.com/RDFLib/sparqlwrapper/blob/master/requirements.txt) but I couldn't see it imported in any of the files in the `SPARQLWrapper` module (https://github.com/RDFLib/sparqlwrapper/tree/master/SPARQLWrapper).
Woul

[2021-04-01 22:01] chiarcos opened #166 "Order of ResultRows for `SELECT *`"
I might be missing something, but it seems that the order of ResultRows for a `SELECT *` query is randomized and changing. This is unexpected because other SPARQL engines I work with seem to generally apply the order of variables as they occur in the WHERE block.

Sample code:

`query="SELECT * { ?a ?b ?c } LIMIT 10"
qres=g.query(query)
print(qres.vars)`

Expected output:
`[rdflib.term.Variable('a

[2021-05-06 17:29] nnadine25 opened #167 "Using Levenstein distance within SPARQLwrapper in python Ask Question"
hi, I am interested to know if there is any way I could use Levenstein distance within a SPARQL query. Let's say I want to select only the objects that have a Levenstein distance < 3. I use the code below but it return the error : sparql.setQuery(""" TypeError: can only concatenate str (not "function") to str

def distance(s, t):
m, n = len(s), len(t)
d = [range(n + 1)]
d += [[i] for i in range(1,

[2021-05-18 00:23] nnadine25 commented on #161
I am interested to know if there is any way I could use Levenstein distance within a SPARQL query. Let's say I want to select only the objects that have a Levenstein distance < 3. I use the code below but it return the error : sparql.setQuery(""" TypeError: can only concatenate str (not "function") to str

def distance(s, t):
m, n = len(s), len(t)
d = [range(n + 1)]
d += [[i] for i in range(1, m +

[2021-06-24 08:57] datamusee opened #168 "Fails to execute a query on dbpedia: ssl certificate problem"
Hello
I'm used to use SPARQLWrapper with success.
But, today, in my environment, I get the following error
Début de run
Comment :=>>  <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)>
and I don't understand how tosolve this problem.
If I directly use urlopen, I can do something  like this (unsecure, I know)
unsecurecontext = ssl._create_unverified_context()
..

[2021-07-09 21:22] chiarcos opened #169 "Variable order in rdflib.query.QueryResult.serialize()"
I might be missing something, but in general, I would expect the order of variables from a SELECT statement to be preserved in, say, `format="txt"`. Instead, they seem to be ordered lexicographically. Can we recover the original order somehow?

		g = rdflib.Graph()
		g.parse(data=ttl, format="ttl")
		qres = g.query(\
			"""SELECT ?p ?pred ?role ?a ?type
			WHERE {
				{ ?p a ?pred. FILTER(strstart

[2021-07-18 15:29] PR0CK0 opened #170 "Inserting entire turtle file to endpoint with query"
Hello. This is not an issue but a question. I apologize for posting here, but I have never had any luck on StackOverflow with smaller topics like SPARQL.

I am trying to take a serialized turtle file of ~2M triples and INSERT all of them into a new named graph on a GraphDB store. I am following [this](https://github.com/RDFLib/sparqlwrapper/blob/master/scripts/example-insert-using-rdflib.py) examp

[2021-08-16 18:28] WolfgangFahl commented on #125
see https://github.com/WolfgangFahl/pyLoDStorage/issues/25 - just use pyLodStorage and you'd be all set

[2021-08-17 04:59] WolfgangFahl opened #171 "Better debug support for JSON deding errors"
since i couldn't make anything of the Exception
[code]
I got when running a SPARQL query against a Wikidata endpoint i modified the _convertJSON function to allow
to inspect the Json String that is the culprit:

[code]

the inspection of the /tmp/sparqlerror.json file revealed:
[code]

I think the library should have a built-in option to analyze the json result further. The hint
**This method can

[2021-08-22 17:53] kernc opened #172 "Set default header Accept-Encoding: gzip"
To minimize network traffic use, the wrapper should on its own and by default set the popular request header [`Accept-Encoding: gzip, deflate`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Encoding) and then counsel response header [`Content-Encoding`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding) to optionally pipe result data through [`zlib.decom

[2021-08-23 08:00] WolfgangFahl commented on #171
The same issue arises if an endpoint is not properly set e.g. if you try to use https://query.wikidata.org/ as an endpoint which will return HTML code and not JSON.

[2022-01-04 15:49] eggplants opened #176 "sparql.setReturnFormat(RDF) causes rdflib.exceptions.ParserError"
[code]

[code]

[2022-01-04 17:34] eggplants opened #177 "Test is too slow"
Some endpoints, like <https://live.dbpedia.org/sparql> and <https://dbpedia.org/sparql>, is too slow and unit tests take also too much time to finish due to them.
On the other hand, <https://ja.dbpedia.org/sparql> is too fast to get a response. I think this difference is caused by <https://ja.dbpedia.org>'s resource size that is maybe smaller than <https://dbpedia.org>'s one.
So I suggest endpoint

[2022-01-04 18:07] eggplants commented on #177
[code]

[2022-01-04 18:15] eggplants commented on #177
[code]

[2022-01-04 18:18] eggplants commented on #177
[code]

[2022-01-04 18:27] eggplants commented on #177
[code]

[2022-01-06 22:10] aucampia commented on #177
I think the right approach here may be to work with docker containers for testing instead of remote endpoints as much as possible, but I agree, they are too slow.

[2022-01-08 00:11] aucampia commented on #177
I think this is still an issue, for me at least test takes a couple of minutes. Should be much quicker.

[2022-01-08 05:02] eggplants commented on #165
I added CLI to package console script.
You can try:

[code]

[2022-01-08 08:52] lewismc opened #181 "HTTP Error 406 when attempting to query GraphDB 9.9.1 via HTTPS BasicAuth"
Hi Folks,
As per title, I am failing to get anything from GraphDB with the following Python3.9 code
[code]
Upon evaluation of the `sparql.query().convert()` expression, `HTTP Error 406` is returned.
Is anyone able to point me in the right direction here? Thanks for any consideration.

[2022-01-09 09:00] aucampia opened #183 "Not all tests pass"
Currently there are a couple of failing tests, for details see: https://github.com/RDFLib/sparqlwrapper/runs/4747557845?check_suite_focus=true

[2022-01-09 09:02] aucampia commented on #177
Re-opening this, as it is still too slow for comfort. One option may be to use https://github.com/kiwicom/pytest-recording

[2022-01-09 11:26] eggplants commented on #183
I created PR. it makes some tests passed.

https://github.com/aucampia/sparqlwrapper/pull/1

[2022-01-09 11:28] eggplants commented on #116
`ez_setup.py` dropped: d338e0629f88c4b06b79ccfd97a658875a2453bc

[2022-01-09 16:58] aucampia commented on #183
Rather make pr against main repo, there is nothing in here that is not already in master and I'm not actively working on this.

[2022-01-09 21:21] eggplants commented on #177
<http://sparql.agroportal.lirmm.fr/sparql/> is unstable. If can, we have to change it to other 4store endpoint.

[2022-01-09 22:10] eggplants commented on #177
[code]

[2022-01-09 22:51] nicholascar commented on #177
@eggplants please do change to other more stable stores! Although, there must be a stable AgroPortal SPARQL store out there surely? AgroPortal's a large vocab user after all.

[2022-01-10 08:44] eggplants commented on #177
Suggestion:
- delete `test/virtuoso__v8*`
- replace `test/virtuoso__v7*`'s endpoint
  - <http://dbpedia.org/sparql> -> <http://ja.dbpedia.org/sparql>
- replace `test/4store*`'s endpoint
  - <http://sparql.agroportal.lirmm.fr/sparql/> -> <?>

[2022-01-10 09:31] eggplants commented on #177
Does anyone know of any published endpoints that are using Virtuoso version 08? (except http://live.dbpedia.org/sparql)

[2022-01-10 09:34] nicholascar commented on #177
No, sorry! All of the SPARQL stores I implement (about 10 public) use Jena. I'll ask around though

[2022-01-10 21:21] lewismc commented on #181
I was using the incorrect path. Please ignore sorry.

[2022-01-10 21:21] #181 closed

[2022-01-10 22:19] eggplants commented on #183
Note: virtuoso and 4store server refuse POST request.

[2022-01-12 10:58] eggplants opened #186 "Replace `graph.load()` with `graph.parse()`"
`graph.load()` has deprecated in rdflib 6.x.x.
This project have to replace `graph.load()` with `graph.parse()`.

[2022-01-12 11:03] eggplants commented on #186
[code]

[2022-01-12 18:45] eggplants commented on #183
For cases decorated by `expectedFailure`, I think we need to change it to `skip` later.
And in the future, I'd like to generate pytest classes from configuration files (e.g. yaml or ini) for each server.

[2022-01-12 18:50] aucampia commented on #183
If we don't expect the test to pass for a specific endpoint then yes, skip makes more sense, but then in that case we should not even really have a test, and if we take the approach of having an endpoint spec in yaml which specifies the feautres of an endpoint then it probably makes most sense to just not generate them, but I can also see how skip would make sense then, so I'm open to both options

[2022-01-12 19:05] eggplants commented on #183
OK.

Thank you for your reviewing and supporting too. I think this library is quite useful and should be maintained.

[2022-01-12 21:44] nicholascar commented on #176
A SPARQL `SELECT` query doesn't return RDF, so `RDF` here is not a valid selection for a return type. Return types of `JSON` & `XML` are valid and work fine.

So the issue should probably be handled by raising an error due to this incompatibility of the format request, not seeing the code fail.

[2022-01-12 21:46] #176 closed

[2022-01-12 22:00] nicholascar commented on #170
There are indeed more efficient ways of loading data into triplestores than using the example linked to in the description.

Many triplestores, including GraphDB, support additional APIs for this, including the [SPARQL Graph Store Protocol](https://www.w3.org/TR/sparql11-http-rdf-update/) and GraphDB does this [by implementing the RDF4J APIs](https://rdf4j.org/documentation/reference/rest-api/).

[2022-01-12 22:00] #170 closed

[2022-01-12 22:02] nicholascar opened #190 "Rais `ValueError` when user selects incopatable formats"
This code fails because `RDF` is not a valid response format for a SELECT query:

[code]

The code should not fail but should raise a `ValueError` Exception and explain why.

[2022-01-12 22:03] nicholascar commented on #190
@eggplants this is just re-issuing your Issue with better scope for resolution.

[2022-01-12 22:10] nicholascar commented on #132
This issue is now resolved, perhaps due to Fuseki updates, becuase this code now works (with an updated AGROVOC SPARQL endpoint):

[code]

`sparql.setOnlyConneg(True)` must be included.

[2022-01-12 22:10] #132 closed

[2022-01-12 22:39] #186 closed

[2022-01-13 00:14] eggplants opened #192 "Running all tests at once causes failure of test for `Wrapper.py`"
https://github.com/eggplants/sparqlwrapper/runs/4798682454

[code]

The reason is unknown...

[2022-01-13 11:22] eggplants opened #193 "Typing"
Need type hints.

[2022-01-13 13:01] eggplants commented on #177
Due to merge #184, Test time has been reduced to less than 15 minutes. Had this issue almost been resolved?

[2022-01-14 03:17] eggplants opened #195 "pre-commit"
https://github.com/RDFLib/sparqlwrapper/pull/184#discussion_r780823349

I think what is needed:

- format with black
- lint with flake8
- sort import statements with isort
- (lint with mypy after #193)
- ...

[2022-01-14 03:21] eggplants commented on #193
I will try to annotate types after being dealt with #191 and #194.

[2022-01-16 00:23] eggplants commented on #195
@aucampia Are you going to prepare for pre-commit CI?

[2022-01-16 07:15] nicholascar commented on #195
Yes, I think we are fine with pre-commit. Can you please use exactly the same `black` & `flake8` settings are rdflib though? You will see in there that there is a [fixed parameters, version-locked `black`](https://github.com/RDFLib/rdflib/blob/master/black.toml) as well as a [Flak8 with a few settings specified](https://github.com/RDFLib/rdflib/blob/master/.flake8).

[2022-01-16 13:38] aucampia commented on #195
@eggplants  I made a PR for adding pre-commit to https://github.com/RDFLib/rdflib and enabled pre-commit CI for it.

If you make a PR for adding it here I will enable it here also.

Regarding flake8, we still need to rationalize our config for https://github.com/RDFLib/rdflib - some work was started on this in https://github.com/RDFLib/rdflib/pull/1442 but we have to finish it. So for now I'm not

[2022-01-16 14:56] aucampia commented on #177
I would like it even faster, but I guess we can close it and open another, ideally we should be using something like pytest-recording where we can't use test containers, and use test containers otherwise, but there is no rush for this, thank you very much for what you did.

[2022-01-16 15:54] aucampia commented on #195
For reference, PR on RDFLib/rdflib is:

 - https://github.com/RDFLib/rdflib/pull/1672

[2022-01-16 15:56] aucampia commented on #195
One of the main benefits of pre-commit.ci for me is the ability to do `pre-commit.ci autofix` in PRs, so what I put in there is mainly geared towards things that can be automatically fixed, like isort, pycln and black.

[2022-01-24 15:23] eggplants commented on #177
I am going to convert tests from unittest into pytest.
It looks like we can use [`@pytest.mark.parametrize`](https://docs.pytest.org/en/6.2.x/parametrize.html
) to commonize tests by endpoint.

[2022-01-24 15:47] aucampia commented on #177
sounds great, I will close this issue though, we can handle new improvements as they come, but to me I think the tests should run within less than 3 minutes ideally.

[2022-01-24 15:47] #177 closed

[2022-01-25 07:16] eggplants opened #198 "Drop urllib2 support"
We have to drop supports for urllib2 + keepalive due to bumping required Python version (325dd1c323635b42565f9adea140848cc9c1d7d3).

As we know urllib2 has been already replaced to urllib.request. But some docstrings are still describing with `urllib2`.
https://github.com/RDFLib/sparqlwrapper/search?q=urllib2

And `keepalive` package for `urllib2` is currently unmaintained and not worked. (https:/

[2022-01-26 11:24] AlasdairGray commented on #168
I have been successfully using [myBinder](https://mybinder.org/) to run a notebook containing SPARQLWrapper code for a few weeks. Towards the end of last week it suddenly stopped working. In trying to get to the bottom of the issue I've found the following error
[code]
Is this the same issue or is something else going on?

[2022-01-26 11:25] AlasdairGray commented on #168
There is also #102 which seems to be related.

[2022-01-26 11:39] sven-h commented on #168
Hi @AlasdairGray ,
do you have a minimal examples which shows this error?

[2022-01-26 11:48] AlasdairGray commented on #168
You can fire up this [notebook on myBinder](https://mybinder.org/v2/gh/BioSchemas/bioschemas-data-harvesting/HEAD?labpath=AnalysisQueries.ipynb), run all the cells then select the first query from the dropdown list of available queries 'Number of Triples', and click Execute.

This throws the exception (not sure why the exception text is not displaying in the UI). You can find the exception text be

[2022-01-26 11:54] AlasdairGray commented on #168
The corresponding curl command works fine
[code]

[2022-01-26 11:58] sven-h commented on #168
For me the following snippet works fine:
[code]

[2022-01-26 13:59] AlasdairGray commented on #168
It seems that things work fine on a Windows machine but not on a Mac (I've been discussing the issue with a colleague), not sure about Linux. We've put in a workaround, but suspect that the underlying cause could be to do with the certificate on the server.

[2022-02-07 00:14] eggplants opened #199 "Next Release?"
I hope it.
Or, should we tackle [some unresolved issues](https://github.com/RDFLib/sparqlwrapper/issues)?

[2022-02-17 13:31] eggplants commented on #195
@aucampia Could you install pre-commit in sparqlwrapper as well as rdflib?

[2022-02-19 19:56] eggplants opened #200 "Introduce Lint tools"
I would like to add them into dev dependencies and CI:

- isort
- black
- mypy
- ...

This helps #195.

[2022-02-21 00:41] #193 closed

[2022-03-02 16:35] renefritze commented on #157
Looks like there's only [the one place](https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/Wrapper.py#L908) where an actual http request is made, right?

So one could experiment with subclassing `Wrapper` and re-implementing `_query`, if there's an easy way to translate between the `urllib2` and the `aiohttp` request?

[2022-03-10 08:58] papoteur-mga commented on #199
Hello,
1.8.5 doesn't build anymore in Mageia cauldron. If there isn't new release, the package could be dropped.

[2022-03-10 19:30] aucampia commented on #199
@dayures  @wikier - as far as I can tell you are the maintainers for the PyPI package, could you add me so I can publish a new version?

[2022-03-11 09:46] dayures commented on #199
@aucampia sure! What is your user in pypi?

And thanks for all the work that you are doing with SPARQLWrapper !

[2022-03-11 11:21] aucampia commented on #199
My user is [`iwan.aucamp`](https://pypi.org/user/iwan.aucamp/)

[2022-03-11 11:46] dayures commented on #199
Invitation sent!

[2022-03-11 21:01] aucampia commented on #199
Thanks a bunch @dayures. I'm going to release 2.0.0, mainly because this now uses RDFLib 6.0 which has breaking changes from 5.0.

[2022-03-11 21:03] aucampia commented on #199
And also thanks a bunch @eggplants for all your inputs and patience, we may be a bit pedantic sometimes but at least in our minds it is with good intent :smile:

CC: @white-gecko @nicholascar @ashleysommer heads up if you have any concerns

[2022-03-11 22:45] wikier commented on #199
Thanks @aucampia for taking the lead on this!

[2022-03-12 17:55] appliedgraphs opened #205 "Convert SPARQLWrapper.SmartWrapper to pandas dataframe"
I want to convert a SmartWrapper to a pandas DF.  We have two relevant issues:

- [#125](https://github.com/RDFLib/sparqlwrapper/issues/125) Which is focused on a SPARQLResult
- [#1179](https://github.com/RDFLib/rdflib/issues/1179) - which also seems to be about SPARQLRest

My goal is to execute a SPARQL query, get a result, and then transform to a dataframe.  I am certain that I am missing someth

[2022-03-13 02:00] nicholascar commented on #199
@aucampia I think I have access to the PyPI for this too as I pushed a release last year

[2022-03-13 02:03] nicholascar commented on #205
@appliedgraphs have you seen this exsiting script: https://github.com/RDFLib/sparqlwrapper/blob/master/SPARQLWrapper/sparql_dataframe.py

[2022-03-13 13:00] afk314 commented on #205
I hadn't, but it's nice and easy to follow.  I will try it out later today.  Thanks.

Could something like this be folded into rdflib/sparqlwrapper so that it was at hand.  I'm optimistic more and more folks will want to play with graph ml approaches and going to pandas is just the default at this point.

[2022-03-13 17:43] papoteur-mga commented on #199
@aucampia Do you mean to update the changelog and put a tag? It's all what I need.

[2022-03-13 21:20] aucampia commented on #199
@papoteur-mga there is some issue with sphinx, I will update changelog, but first making sure it all works.

@dayures as far as I can tell you are the only maintainer on https://readthedocs.org/projects/sparqlwrapper/ - please add me there also so I can publish the docs.

[2022-03-13 21:40] dayures commented on #199
sure! @aucampia what is your username in readthedocs.org ?

[2022-03-13 22:13] aucampia commented on #199
@dayures it is also `iwan.aucamp` - apologies for not including it.

[2022-03-13 23:17] aucampia commented on #199
@papoteur-mga @eggplants new release published, please let me know if there are any issues.

[code]

Readthedocs is also updated:

- https://sparqlwrapper.readthedocs.io/en/stable/
- https://sparqlwrapper.readthedocs.io/en/2.0.0/

[2022-03-13 23:24] aucampia opened #209 "Removing https://rdflib.github.io/sparqlwrapper"
I'm unclear what the point of https://rdflib.github.io/sparqlwrapper is - the docs are at https://sparqlwrapper.readthedocs.io/

I think it may be best to just remove https://rdflib.github.io/sparqlwrapper entirely.

CC: @dayures

[2022-03-13 23:30] aucampia commented on #209
Actually I'm not even entirely sure how it was generated, I will for now just replace it with an html redirect to readthedocs, can revert it if we want.

[2022-03-13 23:35] aucampia commented on #209
Done now.

[2022-03-13 23:40] wikier commented on #199
Cool!

Announcement to the rdflib mailing list and/or twitter?

On Sun, Mar 13, 2022 at 16:17 Iwan Aucamp ***@***.***> wrote:

--
Sergio Fernández
http://www.wikier.org

[2022-03-14 01:47] nicholascar commented on #205
Yes, I think PANDAS is well known enough to be supported as a standard output option. The only hitch is that we want to ensure basic installation of SPARQLWrapper doesn't _require_ PANDAS, since it's large, so it can be included but a pip install optional will need to be made to enable it.

Something like `pandas[pandas]` in requirements.txt and then `pip install sparqlwrapper[pandas]` to install.

[2022-03-14 01:55] nicholascar commented on #199
Well done all contributors! I'll close this issue now. @aucampia and @eggplants: as the main contributors, please do go ahead and announce this on the mailing list, Gitter, Twitter etc.

[2022-03-14 01:55] #199 closed

[2022-03-14 03:47] eggplants commented on #199
Finally! Thank you so much!

[2022-03-14 06:36] eggplants commented on #205
@nicholascar Already:
https://github.com/RDFLib/sparqlwrapper/blob/2a6e2d3ddbc3fe38ca47d6d05f23c9b61ff82366/setup.cfg#L53-L54

[2022-03-14 06:56] nicholascar commented on #205
Great, thanks @eggplants, so the installation tasks are already done. So, I suppose, a deeper integration of PANDAS could be made, as long as appropriate warnings are thrown if users try and call PANDAS exports without the necessary installation.

[2022-03-14 07:32] papoteur-mga commented on #199
Thanks for your work. I will push it in Mageia.
A question. For running tests, is an Internet connection needed?

[2022-03-14 07:46] dayures commented on #199
@aucampia added to readthedocs

[2022-03-14 07:48] dayures commented on #209
previous to readthedocs, the documentation was on that branch. But I cannot remember now why we have it in 2 places at the end.

[2022-03-14 07:55] papoteur-mga opened #210 "Documentation format"
https://sparqlwrapper.readthedocs.io/en/2.0.0/genindex.html
has a bad layout. Texts are larger than columns.
I think that a layout with one column would be better.

[2022-03-14 07:59] papoteur-mga commented on #210
Furthermore, the link to "Edit in Github" goes to a 404 error.

[2022-03-14 08:14] aucampia commented on #209
I think there is documentation for older versions in github pages, but not sure what exactly made the index page, and using readthedocs.org is easier for me, so for now I think this is best:

- Keep https://rdflib.github.io/sparqlwrapper as a redirect to https://sparqlwrapper.readthedocs.io/en/stable/
- Keep the rest of https://rdflib.github.io/sparqlwrapper the same
- Remove references to https:/

[2022-03-14 08:14] eggplants commented on #199
@papoteur-mga Yes. Almost tests access to some public SPARQL endpoints.

[2022-03-14 15:18] WolfgangFahl opened #211 "using "describe" in a comment leads to error"
[code]
will fail.

.. lib/python/site-packages/SPARQLWrapper/Wrapper.py:979: RuntimeWarning: Sending Accept header '*/*' because unexpected returned format 'json' in a 'DESCRIBE' SPARQL query form
  warnings.warn("Sending Accept header '*/*' because unexpected returned format '%s' in a '%s' SPARQL query form" % (self.returnFormat, self.queryType), RuntimeWarning)

[2022-03-14 15:18] eggplants commented on #2
Currently older python(<=3.6) has been dropped. So this feature can be introduced without support for python 2.7. See also: #198

[2022-03-14 15:19] WolfgangFahl commented on #211
=== query ===
<source lang='sparql'>

# Count all academic conference(Q2020153) https://www.wikidata.org/wiki/Q2020153 items
# with the given describ'd at URL(P973) https://www.wikidata.org/wiki/Property:P973
SELECT ?item (COUNT (?value) AS ?count)
WHERE
{
  # instance of academic conference
  ?item wdt:P31 wd:Q2020153.
  # describ'd at URL
  ?item wdt:P973 ?value.
} GROUP by ?item
HAVING (COUNT (

[2022-03-14 15:21] eggplants commented on #50
Python 2 support has ended. So this issue maybe was resolved, wasn't it?

[2022-03-14 15:22] eggplants commented on #116
This issue should be closed.

[2022-03-14 15:31] eggplants commented on #165
CLI is available on 2.0.0!

[2022-03-14 16:11] eggplants commented on #211
This error is not reproduced in 2.0.0. Your query returned result without any errors or warnings.

[code]

@WolfgangFahl What version are you using?

[2022-03-14 16:13] eggplants commented on #211
[code]

@WolfgangFahl What version are you using?

[2022-03-14 16:20] eggplants commented on #210
https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#special-names

[2022-03-14 16:25] eggplants commented on #210
The style of genindex.html, generated by `genindex`, is often broken.

i.e.) https://pyswarms.readthedocs.io/en/latest/genindex.html

[2022-03-14 16:29] eggplants commented on #210
And if sphinx thema changes into other one, this issue can be fixed.

i.e.) https://optuna.readthedocs.io/en/stable/genindex.html

[2022-03-14 16:54] eggplants opened #212 "Organize old PRs/Issues"
There are many stale or already resolved PRs/Issues in this repo.
So I would like to ask the maintainers to organize them in spare time.

---

- resolve conflicting PRs
- run test towards PRs
- close PRs already was resolved with the other commit
- close resolved Issues

[2022-03-14 17:23] WolfgangFahl commented on #211
Why does the runtime warning lead to a failure in the programmatic access?

[2022-03-14 17:27] eggplants commented on #211
What do you mean `a failure in the programmatic access`? the query seems to be successful.

[2022-03-14 17:30] WolfgangFahl commented on #211
In the debugger:
![grafik](https://user-images.githubusercontent.com/1336221/158227015-bd355532-5062-40bc-b2e2-bd52f3cfbb37.png)
![grafik](https://user-images.githubusercontent.com/1336221/158227103-a0056709-d821-461c-8658-862fe87c0a0e.png)
The query type is detected as "DESCRIBE" so there is no binding resolution.

[2022-03-14 17:50] eggplants commented on #211
TIPS: Rdflib Teams seem to be under-resourced.
So I think it would be better if you create a PR that resolves this issue (and also [your other Issues](https://github.com/RDFLib/sparqlwrapper/issues/created_by/WolfgangFahl)) rather than waiting for others.

[2022-03-14 18:06] WolfgangFahl commented on #211
Just did a 0.1.19 release for pyLodStorage pinning sparqlwrapper to 1.8.5 i am now working on the 0.2.0 release intending to use the newer version of SPARQLWrapper. I'll have to work around the "described" issue for the time being in my downstream projects until things are fixed here. No i don't really have time to help with PRs - pyLodStorage was created as a separate project after #160 was not i

[2022-03-14 18:09] eggplants commented on #211
Sparqlwrapper uses regular expressions for uncommenting queries and extracting types, which is a bad point and problematic. It may be better to use `rdflib.plugins.sparql.parser.parseQuery(q)` at this time. I'll try to do it later, and it will be deal with this issue.

[2022-03-14 18:31] eggplants commented on #211
[code]

[2022-03-14 21:41] aucampia commented on #199
@nicholascar

@dayures

Done:

- https://mobile.twitter.com/aucampia/status/1503485668651159554
- https://groups.google.com/g/rdflib-dev/c/PXbOlmibA7A
- https://gitter.im/RDFLib/rdflib?at=622fb4499a09ab24f3a46d8f

[2022-03-15 12:54] WolfgangFahl commented on #211
@eggplants  - thx for your current engagement. When i wrote " No i don't really have time to help with PRs" - this means that currently i am busy. I have already closed on of the issues you mentioned and intend to do more in the future. I suggest to open the discussions here in github for being able to have some communication about ideas and other aspects that are not directly issue related.

[2022-03-15 20:49] aucampia opened #215 "Make tests faster and more reliable."
Currently tests take about 1 hour to run ([ref](https://github.com/RDFLib/sparqlwrapper/actions/runs/1977825495)]. This is not really okay, I would say that at max it should maybe take 10 minutes.

There are various techniques that can be used to improve the runtime and reliability of the tests, such as recording and replaying network traffic.

[2022-03-31 15:19] milan252525 opened #217 "TLS changes in Python 3.10, insecure endpoint"
I'm trying to use this library with the latest Python version (3.10.4).

There were several changes to TLS settings of Python 3.10 ([Issue43998](https://bugs.python.org/issue43998))

The problem is I'm querying SPARQL endpoint with now insecure cipher settings. I attached an SSL error bellow.
The endpoint is https://rpp-opendata.egon.gov.cz/odrpp/sparql.

This can be fixed by editing the library t

[2022-04-12 06:12] sven-h commented on #168
Hi,

your script works fine for me:
[code]
Can you check the folder of openssl with `openssl version -d` (in the activated env) if it contains some files?

[2022-04-12 10:25] sraimund commented on #168
Hi sven-h, I used virtualenv instead of conda. An openssl binary is not available there. I tried adding pyOpenSSL, but it did not help.

I noticed that sparqlwrapper works fine with Python 3.7.3. But with Python 3.7.4 and higher, the error appears. A workaround, mentioned on [stackoverflow](https://stackoverflow.com/a/28052583/1424765), is to add the following lines before the query:

[code]

Do y

[2022-04-23 11:15] PritishWadhwa commented on #166
It works fine for me, can you please share the exact steps to recreate the issue?

[2022-04-26 12:02] situx commented on #156
Hi @nicholascar I stumbled across the same issue today when I tried an rdf+xml only endpoint. The pull request would be greatly appreciated!

[2022-05-02 15:46] cmungall opened #219 "Allow earlier versions of rdflib"
sparqlwrapper requires rdflib >= 6.1.1

I am using a library that uses rdflib6 but intentionally pins to exclude rdflib 6.1.1
https://github.com/hsolbrig/funowl/blob/main/Pipfile

The reason for the pinning is that the rdflib 6.1.x series polluted the rdflib namespaces which broke various tests

This was fixed in rdflib
https://github.com/RDFLib/rdflib/pull/1686

However, there has not yet been a

[2022-05-04 06:15] PritishWadhwa commented on #169
Hi, I tried to replicate your issue, but it gave me the desired output only. Can you please help me replicate the issue so that I can try fixing it?

[2022-05-10 18:02] dgupta04 commented on #190
@nicholascar Hi, here as a first time contributor! I tried my hands on this issue and am submitting a PR that solves it. Request you to please review it and share your thoughts on the same! Thanks!

[2022-05-12 15:14] PritishWadhwa commented on #166
resolved [here](https://github.com/RDFLib/rdflib/pull/1900)

[2022-05-13 14:26] ananya2711 commented on #190
Pull request added #218 with the required changes as discussed.

[2022-09-14 19:55] felixonmars opened #222 "Test failures probably due to remote service issues"
Hi, I am getting a lot of test failures when packaging for Arch. It seems this repo didn't get an update since March so I could not verify if it's a problem on my end or probably also a failure upstream now.

Please let me know if I can help in any way.

[code]

[2022-11-02 20:44] #212 closed

[2022-11-11 10:44] rfm-targa opened #223 "Cannot install with conda for Python >=3.10"
Greetings!

I've created a [PR](https://github.com/bioconda/bioconda-recipes/pull/37914) in Bioconda to update the dependency versions of a tool. I want the tool to work with Python >=3.10. SPARQLWrapper is one of the dependencies. The build is failing because SPARQLWrapper v2.0.0 is not available through conda. I could try to use [SPARQLWrapper v1.8.5](https://anaconda.org/conda-forge/sparqlwrapp

[2022-11-16 19:26] rfm-targa commented on #223
I've opened a PR in Conda-forge https://github.com/conda-forge/sparqlwrapper-feedstock/pull/26 that will update the recipe and make SPARQLWrapper v2.0.0 available through Conda for Python >=3.10.

[2022-11-22 11:15] #223 closed